{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zerct API",
    "summary": "Control-plane API for Zerct deploys.",
    "version": "0.1.0",
    "description": "Use the Zerct API to authenticate, create Rust backend deploys, manage account onboarding, and inspect deploy health.",
    "termsOfService": "https://zerct.com/legal/terms",
    "contact": {
      "name": "Zerct",
      "url": "https://zerct.com",
      "email": "support@zerct.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://zerct.com/legal"
    }
  },
  "externalDocs": {
    "description": "Zerct documentation",
    "url": "https://docs.zerct.com"
  },
  "servers": [
    {
      "url": "https://api.zerct.com",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Private account onboarding and dashboard endpoints."
    },
    {
      "name": "Auth",
      "description": "Authentication endpoints."
    },
    {
      "name": "Deploy",
      "description": "Deploy lifecycle endpoints."
    },
    {
      "name": "Health",
      "description": "API availability endpoints."
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Check API health",
        "description": "Returns the Zerct control-plane health state.",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "$ref": "#/components/responses/HealthOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/login/device": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Start device login",
        "description": "Starts a device login flow for the Zerct CLI.",
        "operationId": "startDeviceLogin",
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginStarted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/login/device/{device_code}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Poll device login",
        "description": "Polls a first-run browser login until it is complete, pending, or expired.",
        "operationId": "pollDeviceLogin",
        "parameters": [
          {
            "name": "device_code",
            "in": "path",
            "description": "Opaque device code returned by start device login.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^zdev_[a-f0-9]{64}$",
              "maxLength": 512,
              "examples": [
                "zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
              ]
            },
            "example": "zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginPolled"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account profile",
        "description": "Returns the authenticated account profile used by web onboarding and SDK flows.",
        "operationId": "getAccountProfile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountProfileLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update account profile",
        "description": "Sets the private Zerct handle and display name used for the authenticated dashboard.",
        "operationId": "updateAccountProfile",
        "requestBody": {
          "description": "Account handle and display name.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountProfileUpdateRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for PUT /v1/account",
                  "value": {
                    "handle": "acme",
                    "displayName": "Acme"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountProfileUpdated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/account/dashboard": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account dashboard",
        "description": "Returns deploys and usage for the authenticated account dashboard.",
        "operationId": "getAccountDashboard",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountDashboardLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deploy": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Deploy app",
        "description": "Deploys an app from a source archive produced by the Zerct CLI.",
        "operationId": "createDeploy",
        "requestBody": {
          "description": "Deploy source archive and runtime metadata.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeployRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/deploy",
                  "value": {
                    "config": {
                      "name": "hello-rust",
                      "kind": "rust_backend",
                      "run": {
                        "command": "./target/release/api",
                        "port": 3000,
                        "health": "/healthz"
                      }
                    },
                    "commit_sha": null,
                    "wants_database": true,
                    "source_archive_base64": "H4sIAAAAAAAA"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeployAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/apps": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List apps",
        "description": "List apps for GET /v1/apps.",
        "operationId": "listApps",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AppsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/apps/{app_id}": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Get app",
        "description": "Get app for GET /v1/apps/{app_id}.",
        "operationId": "getApp",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatusLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Zerct app id.",
            "example": "app_1"
          }
        ]
      },
      "delete": {
        "tags": [
          "Deploy"
        ],
        "summary": "Delete app",
        "description": "Deletes an app when it is not actively running.",
        "operationId": "deleteApp",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatusLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Zerct app id. Context: paths./v1/apps/{app_id}.delete.parameters.0.",
            "example": "app_1"
          }
        ]
      }
    },
    "/v1/apps/{app_id}/deploys": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List app deploys",
        "description": "List app deploys for GET /v1/apps/{app_id}/deploys.",
        "operationId": "listAppDeploys",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeploysLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Zerct app id. Context: paths./v1/apps/{app_id}/deploys.get.parameters.0.",
            "example": "app_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                1
              ]
            },
            "description": "Maximum records to return.",
            "example": 1
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 512,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response.",
            "example": "1000"
          }
        ]
      }
    },
    "/v1/apps/{app_id}/builds": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List app builds",
        "description": "List app builds for GET /v1/apps/{app_id}/builds.",
        "operationId": "listAppBuilds",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BuildsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Zerct app id. Context: paths./v1/apps/{app_id}/builds.get.parameters.0.",
            "example": "app_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                1
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/apps/{app_id}/builds.get.parameters.1.",
            "example": 1
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 512,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/apps/{app_id}/builds.get.parameters.2.",
            "example": "1000"
          }
        ]
      }
    },
    "/v1/apps/{app_id}/logs": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Read app logs",
        "description": "Returns the latest app logs in chronological order.",
        "operationId": "readAppLogs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/LogsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Zerct app id. Context: paths./v1/apps/{app_id}/logs.get.parameters.0.",
            "example": "app_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                1
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/apps/{app_id}/logs.get.parameters.1.",
            "example": 1
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 512,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/apps/{app_id}/logs.get.parameters.2.",
            "example": "1000"
          }
        ]
      }
    },
    "/v1/apps/{app_id}/database": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Get managed Postgres",
        "description": "Get managed Postgres for GET /v1/apps/{app_id}/database.",
        "operationId": "getAppDatabase",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DatabaseLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Zerct app id. Context: paths./v1/apps/{app_id}/database.get.parameters.0.",
            "example": "app_1"
          }
        ]
      }
    },
    "/v1/apps/{app_id}/env": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List environment variables",
        "description": "List environment variables for GET /v1/apps/{app_id}/env.",
        "operationId": "listAppEnv",
        "responses": {
          "200": {
            "$ref": "#/components/responses/EnvLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Zerct app id. Context: paths./v1/apps/{app_id}/env.get.parameters.0.",
            "example": "app_1"
          }
        ]
      },
      "put": {
        "tags": [
          "Deploy"
        ],
        "summary": "Set environment variable",
        "description": "Set environment variable for PUT /v1/apps/{app_id}/env.",
        "operationId": "setAppEnv",
        "responses": {
          "200": {
            "$ref": "#/components/responses/EnvSet"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Zerct app id. Context: paths./v1/apps/{app_id}/env.put.parameters.0.",
            "example": "app_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvSetRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for PUT /v1/apps/{app_id}/env",
                  "value": {
                    "name": "value",
                    "value": "value"
                  }
                }
              }
            }
          },
          "description": "Request body for PUT /v1/apps/{app_id}/env."
        }
      }
    },
    "/v1/apps/{app_id}/env/{name}": {
      "delete": {
        "tags": [
          "Deploy"
        ],
        "summary": "Delete environment variable",
        "description": "Delete environment variable for DELETE /v1/apps/{app_id}/env/{name}.",
        "operationId": "deleteAppEnv",
        "responses": {
          "200": {
            "$ref": "#/components/responses/EnvDeleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Zerct app id. Context: paths./v1/apps/{app_id}/env/{name}.delete.parameters.0.",
            "example": "app_1"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z_][A-Z0-9_]{0,63}$",
              "maxLength": 512,
              "examples": [
                "DATABASE_URL"
              ]
            },
            "description": "Environment variable name.",
            "example": "DATABASE_URL"
          }
        ]
      }
    },
    "/v1/apps/{app_id}/domains": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List custom domains",
        "description": "List custom domains for GET /v1/apps/{app_id}/domains.",
        "operationId": "listAppDomains",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DomainsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Zerct app id. Context: paths./v1/apps/{app_id}/domains.get.parameters.0.",
            "example": "app_1"
          }
        ]
      },
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Add custom domain",
        "description": "Add custom domain for POST /v1/apps/{app_id}/domains.",
        "operationId": "addAppDomain",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DomainAdded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Zerct app id. Context: paths./v1/apps/{app_id}/domains.post.parameters.0.",
            "example": "app_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppDomainAddRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/apps/{app_id}/domains",
                  "value": {
                    "domain": "api.example.com"
                  }
                }
              }
            }
          },
          "description": "Request body for POST /v1/apps/{app_id}/domains."
        }
      }
    },
    "/v1/apps/{app_id}/domains/{domain}": {
      "delete": {
        "tags": [
          "Deploy"
        ],
        "summary": "Delete custom domain",
        "description": "Delete custom domain for DELETE /v1/apps/{app_id}/domains/{domain}.",
        "operationId": "deleteAppDomain",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DomainDeleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Zerct app id. Context: paths./v1/apps/{app_id}/domains/{domain}.delete.parameters.0.",
            "example": "app_1"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9][a-z0-9.-]*[a-z0-9]$",
              "maxLength": 512,
              "examples": [
                "api.example.com"
              ]
            },
            "description": "Custom domain name.",
            "example": "api.example.com"
          }
        ]
      }
    },
    "/v1/deploys/{deploy_id}": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Get deploy",
        "description": "Get deploy for GET /v1/deploys/{deploy_id}.",
        "operationId": "getDeploy",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeployDetailsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "deploy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^deploy_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "deploy_1"
              ]
            },
            "description": "Zerct deploy id.",
            "example": "deploy_1"
          }
        ]
      }
    },
    "/v1/deploys/{deploy_id}/cancel": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Cancel queued deploy",
        "description": "Cancel queued deploy for POST /v1/deploys/{deploy_id}/cancel.",
        "operationId": "cancelDeploy",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeployCanceled"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "deploy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^deploy_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "deploy_1"
              ]
            },
            "description": "Zerct deploy id. Context: paths./v1/deploys/{deploy_id}/cancel.post.parameters.0.",
            "example": "deploy_1"
          }
        ]
      }
    },
    "/v1/deploys/{deploy_id}/logs": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Read deploy logs",
        "description": "Read deploy logs for GET /v1/deploys/{deploy_id}/logs.",
        "operationId": "readDeployLogs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/LogsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "deploy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^deploy_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "deploy_1"
              ]
            },
            "description": "Zerct deploy id. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.0.",
            "example": "deploy_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                1
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.1.",
            "example": 1
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 512,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.2.",
            "example": "1000"
          }
        ]
      }
    },
    "/v1/builds/{build_id}": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Get build",
        "description": "Get build for GET /v1/builds/{build_id}.",
        "operationId": "getBuild",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BuildDetailsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "build_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^job_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "job_1"
              ]
            },
            "description": "Zerct build id.",
            "example": "job_1"
          }
        ]
      }
    },
    "/v1/billing/portal": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create billing portal link",
        "description": "Create billing portal link for POST /v1/billing/portal.",
        "operationId": "createBillingPortal",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BillingPortalCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/builds/{build_id}/logs": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Read build logs",
        "description": "Returns logs associated with a build job in chronological order.",
        "operationId": "readBuildLogs",
        "parameters": [
          {
            "name": "build_id",
            "in": "path",
            "required": true,
            "description": "Zerct build job id.",
            "schema": {
              "type": "string",
              "pattern": "^job_[A-Za-z0-9_]+$",
              "maxLength": 64,
              "examples": [
                "job_1"
              ]
            },
            "example": "job_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum build log records to return.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "examples": [
                100
              ]
            },
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for older build log records.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 128,
              "examples": [
                "1000"
              ]
            },
            "example": "1000"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LogsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Zerct session token returned by the login flow. JWT handling follows RFC8725 best current practices."
      }
    },
    "headers": {
      "RateLimitLimit": {
        "description": "Maximum requests available in the current rate-limit window.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 100000,
          "examples": [
            1000
          ]
        }
      },
      "RateLimitRemaining": {
        "description": "Requests remaining in the current rate-limit window.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "maximum": 100000,
          "examples": [
            999
          ]
        }
      },
      "RateLimitReset": {
        "description": "Unix timestamp for the end of the current rate-limit window.",
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 1700000000,
          "maximum": 4102444800,
          "examples": [
            1779710400
          ]
        }
      },
      "RetryAfter": {
        "description": "Seconds to wait before retrying a rate-limited request.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 3600,
          "examples": [
            60
          ]
        }
      }
    },
    "responses": {
      "HealthOk": {
        "description": "The API is healthy.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HealthResponse"
            },
            "examples": {
              "example": {
                "summary": "The API is healthy.",
                "value": {
                  "ok": true,
                  "service": "zerct-api"
                }
              }
            }
          }
        }
      },
      "LoginStarted": {
        "description": "Device login information.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LoginStartResponse"
            },
            "examples": {
              "example": {
                "summary": "Device login information.",
                "value": {
                  "loginUrl": "https://zerct.com/login?device_code=zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef&user_code=ABC123",
                  "verificationUri": "https://zerct.com/login",
                  "deviceCode": "zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef",
                  "userCode": "ABC123",
                  "intervalSeconds": 5,
                  "expiresInSeconds": 600
                }
              }
            }
          }
        }
      },
      "LoginPolled": {
        "description": "Device login poll result.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LoginPollResponse"
            },
            "examples": {
              "example": {
                "summary": "Device login poll result.",
                "value": {
                  "status": "complete",
                  "intervalSeconds": 5,
                  "accountId": "acct_01HW0000000000000000000000",
                  "email": "dev@example.com",
                  "provider": "github",
                  "token": "zct_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef",
                  "expiresAt": "2026-06-24T12:00:00.000Z"
                }
              }
            }
          }
        }
      },
      "DeployAccepted": {
        "description": "Deploy accepted.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeployResponse"
            },
            "examples": {
              "example": {
                "summary": "Deploy accepted.",
                "value": {
                  "app": {
                    "id": "app_1",
                    "account_id": "acct_1",
                    "name": "hello-rust",
                    "kind": "rust_backend",
                    "plan": "free",
                    "runtime_status": "running",
                    "url": "https://hello-rust.zerct.app"
                  },
                  "deploy": {
                    "id": "deploy_1",
                    "app_id": "app_1",
                    "build_job_id": "job_1",
                    "commit_sha": "0123456789abcdef",
                    "url": "https://hello-rust.zerct.app"
                  },
                  "build_job": {
                    "id": "job_1",
                    "app_id": "app_1",
                    "status": "queued",
                    "message": "Build queued."
                  },
                  "deploy_plan": {
                    "kind": "rust_backend",
                    "check_command": "cargo check --locked && cargo clippy --locked --all-targets --all-features -- -D warnings",
                    "build_command": "cargo build --release",
                    "build_output_dir": "dist",
                    "run_command": "./target/release/api",
                    "port": 3000,
                    "health_path": "/healthz",
                    "build_limits": {
                      "memory": 2048,
                      "cpu": 2000,
                      "timeout_seconds": 600
                    },
                    "runtime_limits": {
                      "memory": 512,
                      "cpu": 250,
                      "startup_timeout_seconds": 10
                    },
                    "cold_start_policy": "required",
                    "blue_green": {
                      "strategy": "blue_green",
                      "active_slot": "blue",
                      "candidate_slot": "green",
                      "health_path": "/healthz",
                      "keep_active_until_candidate_healthy": true,
                      "retain_previous_for_rollback": true
                    },
                    "idle_timeout_minutes": 15
                  },
                  "next_command": "npx @zerct/zerct logs --app app_1"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "BadRequest": {
        "description": "The request body or parameters are invalid.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "invalidRequest": {
                "summary": "Invalid request",
                "value": {
                  "code": "policy_rejected",
                  "message": "Request validation failed.",
                  "agent_instruction": "Read the error message, update the request, and retry.",
                  "docs_url": "https://docs.zerct.com",
                  "checkout_url": null
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication is required or the token is invalid.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "loginRequired": {
                "summary": "Login required",
                "value": {
                  "code": "policy_rejected",
                  "message": "Zerct login is required.",
                  "agent_instruction": "Read the error message, update the request, and retry.",
                  "docs_url": "https://docs.zerct.com",
                  "checkout_url": null
                }
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "The rate limit has been exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rateLimited": {
                "summary": "Rate limited",
                "value": {
                  "code": "policy_rejected",
                  "message": "Too many requests.",
                  "agent_instruction": "Read the error message, update the request, and retry.",
                  "docs_url": "https://docs.zerct.com",
                  "checkout_url": null
                }
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "The API could not complete the request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "serverError": {
                "summary": "Server error",
                "value": {
                  "code": "database_unavailable",
                  "message": "The API could not complete the request.",
                  "agent_instruction": "Retry the request. If it keeps failing, check Zerct status.",
                  "docs_url": "https://docs.zerct.com/status",
                  "checkout_url": null
                }
              }
            }
          }
        }
      },
      "AccountProfileLoaded": {
        "description": "Signed-in account profile response.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AccountProfileResponse"
            },
            "examples": {
              "example": {
                "summary": "Signed-in account profile response.",
                "value": {
                  "accountId": "acct_01HW0000000000000000000000",
                  "email": "dev@example.com",
                  "provider": "github",
                  "handle": "acme",
                  "displayName": "Acme",
                  "accountUrl": "https://zerct.com/acme"
                }
              }
            }
          }
        }
      },
      "AccountProfileUpdated": {
        "description": "Updated authenticated account profile.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AccountProfileResponse"
            },
            "examples": {
              "example": {
                "summary": "Updated authenticated account profile.",
                "value": {
                  "accountId": "acct_01HW0000000000000000000000",
                  "email": "dev@example.com",
                  "provider": "github",
                  "handle": "acme",
                  "displayName": "Acme",
                  "accountUrl": "https://zerct.com/acme"
                }
              }
            }
          }
        }
      },
      "AccountDashboardLoaded": {
        "description": "Authenticated account dashboard.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AccountDashboardResponse"
            },
            "examples": {
              "example": {
                "summary": "Authenticated account dashboard.",
                "value": {
                  "profile": {
                    "accountId": "acct_01HW0000000000000000000000",
                    "email": "dev@example.com",
                    "provider": "github",
                    "handle": "acme",
                    "displayName": "Acme",
                    "accountUrl": "https://zerct.com/acme"
                  },
                  "apps": [
                    {
                      "appId": "app_01HW0000000000000000000000",
                      "name": "hello-rust",
                      "slug": "hello-rust",
                      "url": "https://hello-rust.zerct.app",
                      "plan": "free",
                      "runtimeStatus": "running",
                      "latestBuildStatus": "succeeded",
                      "deployCount": 3,
                      "runtimeMemoryMib": 256,
                      "runtimeCpuMillis": 250,
                      "databaseStorageMib": 512,
                      "idleTimeoutMinutes": 15,
                      "latestDeployAt": "2026-05-25T12:00:00.000Z"
                    }
                  ],
                  "usage": {
                    "appCount": 1,
                    "runningCount": 1,
                    "runtimeMemoryMib": 256,
                    "runtimeCpuMillis": 250,
                    "databaseStorageMib": 512,
                    "deployCount": 3
                  }
                }
              }
            }
          }
        }
      },
      "AppsLoaded": {
        "description": "Apps loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AppsResponse"
            },
            "examples": {
              "example": {
                "summary": "Apps loaded.",
                "value": {
                  "apps": [
                    {
                      "appId": "app_01HW0000000000000000000000",
                      "name": "hello-rust",
                      "slug": "hello-rust",
                      "url": "https://hello-rust.zerct.app",
                      "plan": "free",
                      "runtimeStatus": "running",
                      "latestBuildStatus": "succeeded",
                      "deployCount": 3,
                      "runtimeMemoryMib": 256,
                      "runtimeCpuMillis": 250,
                      "databaseStorageMib": 512,
                      "idleTimeoutMinutes": 15,
                      "latestDeployAt": "2026-05-25T12:00:00.000Z"
                    }
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "StatusLoaded": {
        "description": "App status loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StatusResponse"
            },
            "examples": {
              "example": {
                "summary": "App status loaded.",
                "value": {
                  "app": {
                    "id": "app_1",
                    "account_id": "acct_1",
                    "name": "hello-rust",
                    "kind": "rust_backend",
                    "plan": "free",
                    "runtime_status": "running",
                    "url": "https://hello-rust.zerct.app"
                  },
                  "latest_deploy": {
                    "id": "deploy_1",
                    "app_id": "app_1",
                    "build_job_id": "job_1",
                    "commit_sha": "0123456789abcdef",
                    "url": "https://hello-rust.zerct.app"
                  },
                  "latest_build_job": {
                    "id": "job_1",
                    "app_id": "app_1",
                    "status": "queued",
                    "message": "Build queued."
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "DeploysLoaded": {
        "description": "Deploys loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeploysResponse"
            },
            "examples": {
              "example": {
                "summary": "Deploys loaded.",
                "value": {
                  "deploys": [
                    {
                      "id": "deploy_1",
                      "app_id": "app_1",
                      "build_job_id": "job_1",
                      "commit_sha": "0123456789abcdef",
                      "url": "https://hello-rust.zerct.app"
                    }
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "DeployDetailsLoaded": {
        "description": "Deploy details loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeployDetailsResponse"
            },
            "examples": {
              "example": {
                "summary": "Deploy details loaded.",
                "value": {
                  "app": {
                    "id": "app_1",
                    "account_id": "acct_1",
                    "name": "hello-rust",
                    "kind": "rust_backend",
                    "plan": "free",
                    "runtime_status": "running",
                    "url": "https://hello-rust.zerct.app"
                  },
                  "deploy": {
                    "id": "deploy_1",
                    "app_id": "app_1",
                    "build_job_id": "job_1",
                    "commit_sha": "0123456789abcdef",
                    "url": "https://hello-rust.zerct.app"
                  },
                  "build_job": {
                    "id": "job_1",
                    "app_id": "app_1",
                    "status": "queued",
                    "message": "Build queued."
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "DeployCanceled": {
        "description": "Deploy canceled.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeployCancelResponse"
            },
            "examples": {
              "example": {
                "summary": "Deploy canceled.",
                "value": {
                  "deploy_id": "app_1",
                  "canceled_build_jobs": 0
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "BuildsLoaded": {
        "description": "Builds loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BuildsResponse"
            },
            "examples": {
              "example": {
                "summary": "Builds loaded.",
                "value": {
                  "builds": [
                    {
                      "id": "job_1",
                      "app_id": "app_1",
                      "status": "queued",
                      "message": "Build queued."
                    }
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "BuildDetailsLoaded": {
        "description": "Build details loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BuildDetailsResponse"
            },
            "examples": {
              "example": {
                "summary": "Build details loaded.",
                "value": {
                  "build": {
                    "id": "job_1",
                    "app_id": "app_1",
                    "status": "queued",
                    "message": "Build queued."
                  },
                  "app": {
                    "id": "app_1",
                    "account_id": "acct_1",
                    "name": "hello-rust",
                    "kind": "rust_backend",
                    "plan": "free",
                    "runtime_status": "running",
                    "url": "https://hello-rust.zerct.app"
                  },
                  "deploy_id": "app_1"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "LogsLoaded": {
        "description": "Logs loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LogsResponse"
            },
            "examples": {
              "example": {
                "summary": "Logs loaded.",
                "value": {
                  "lines": [
                    {
                      "timestamp": "2026-05-25T12:00:00.000Z",
                      "stream": "stdout",
                      "message": "Build queued."
                    }
                  ],
                  "has_more": true,
                  "next_cursor": "1000"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "DatabaseLoaded": {
        "description": "Database loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DatabaseResponse"
            },
            "examples": {
              "example": {
                "summary": "Database loaded.",
                "value": {
                  "database": {
                    "id": "app_1",
                    "app_id": "app_1",
                    "plan": "free",
                    "storage_limit_mib": 1,
                    "connection_limit": 1,
                    "external_access": true
                  },
                  "database_url_injected": true
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "EnvLoaded": {
        "description": "Environment variables loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EnvListResponse"
            },
            "examples": {
              "example": {
                "summary": "Environment variables loaded.",
                "value": {
                  "env": [
                    {
                      "name": "value",
                      "created_at": "2026-05-25T12:00:00.000Z",
                      "updated_at": "2026-05-25T12:00:00.000Z"
                    }
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "EnvSet": {
        "description": "Environment variable set.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EnvSetResponse"
            },
            "examples": {
              "example": {
                "summary": "Environment variable set.",
                "value": {
                  "name": "value",
                  "redeploy_recommended": true
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "EnvDeleted": {
        "description": "Environment variable deleted.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EnvDeleteResponse"
            },
            "examples": {
              "example": {
                "summary": "Environment variable deleted.",
                "value": {
                  "name": "value",
                  "deleted": true,
                  "redeploy_recommended": true
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "DomainsLoaded": {
        "description": "Domains loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AppDomainsResponse"
            },
            "examples": {
              "example": {
                "summary": "Domains loaded.",
                "value": {
                  "domains": [
                    {
                      "id": "app_1",
                      "app_id": "app_1",
                      "domain": "api.example.com",
                      "verified": true,
                      "verified_at": "2026-05-25T12:00:00.000Z",
                      "created_at": "2026-05-25T12:00:00.000Z",
                      "agent_instruction": "Retry the command after applying the requested fix."
                    }
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "DomainAdded": {
        "description": "Domain added.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AppDomain"
            },
            "examples": {
              "example": {
                "summary": "Domain added.",
                "value": {
                  "id": "app_1",
                  "app_id": "app_1",
                  "domain": "api.example.com",
                  "verified": true,
                  "verified_at": "2026-05-25T12:00:00.000Z",
                  "created_at": "2026-05-25T12:00:00.000Z",
                  "agent_instruction": "Retry the command after applying the requested fix."
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "DomainDeleted": {
        "description": "Domain deleted.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AppDomainDeleteResponse"
            },
            "examples": {
              "example": {
                "summary": "Domain deleted.",
                "value": {
                  "domain": "api.example.com",
                  "deleted": true
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "BillingPortalCreated": {
        "description": "Billing portal created.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BillingCheckoutResponse"
            },
            "examples": {
              "example": {
                "summary": "Billing portal created.",
                "value": {
                  "checkout": {
                    "url": "https://hello-rust.zerct.app",
                    "reason": "value"
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "description": "Health response for the control-plane API.",
        "additionalProperties": false,
        "required": [
          "ok",
          "service"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Whether the API is healthy.",
            "examples": [
              true
            ]
          },
          "service": {
            "type": "string",
            "description": "Service identifier.",
            "enum": [
              "zerct-api"
            ],
            "examples": [
              "zerct-api"
            ]
          }
        },
        "examples": [
          {
            "ok": true,
            "service": "zerct-api"
          }
        ]
      },
      "LoginStartResponse": {
        "type": "object",
        "description": "Device login response for the Zerct CLI.",
        "additionalProperties": false,
        "required": [
          "loginUrl",
          "verificationUri",
          "deviceCode",
          "userCode",
          "intervalSeconds",
          "expiresInSeconds"
        ],
        "properties": {
          "loginUrl": {
            "type": "string",
            "description": "Browser URL where the user completes login.",
            "format": "uri",
            "examples": [
              "https://zerct.com/login?device_code=zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef&user_code=ABC123"
            ]
          },
          "verificationUri": {
            "type": "string",
            "description": "Browser URL where the user chooses GitHub or Google.",
            "format": "uri",
            "examples": [
              "https://zerct.com/login"
            ]
          },
          "deviceCode": {
            "type": "string",
            "description": "Opaque code used by the CLI polling endpoint.",
            "pattern": "^zdev_[a-f0-9]{64}$",
            "examples": [
              "zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
            ],
            "maxLength": 512
          },
          "userCode": {
            "type": "string",
            "description": "Short human-readable code shown by the CLI during login.",
            "pattern": "^[A-F0-9]{6}$",
            "examples": [
              "ABC123"
            ],
            "maxLength": 512
          },
          "intervalSeconds": {
            "type": "integer",
            "description": "Minimum polling interval in seconds.",
            "format": "int32",
            "minimum": 1,
            "maximum": 60,
            "examples": [
              5
            ]
          },
          "expiresInSeconds": {
            "type": "integer",
            "description": "Device login lifetime in seconds.",
            "format": "int32",
            "minimum": 60,
            "maximum": 1800,
            "examples": [
              600
            ]
          }
        },
        "examples": [
          {
            "loginUrl": "https://zerct.com/login?device_code=zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef&user_code=ABC123",
            "verificationUri": "https://zerct.com/login",
            "deviceCode": "zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef",
            "userCode": "ABC123",
            "intervalSeconds": 5,
            "expiresInSeconds": 600
          }
        ]
      },
      "LoginPollResponse": {
        "type": "object",
        "description": "Device login polling response for the Zerct CLI.",
        "additionalProperties": false,
        "required": [
          "status",
          "intervalSeconds",
          "accountId",
          "email",
          "provider",
          "token",
          "expiresAt"
        ],
        "properties": {
          "status": {
            "type": "string",
            "description": "Current device login state.",
            "enum": [
              "pending",
              "complete",
              "expired"
            ],
            "examples": [
              "complete"
            ]
          },
          "intervalSeconds": {
            "type": "integer",
            "description": "Minimum seconds to wait before the next poll.",
            "format": "int32",
            "minimum": 1,
            "maximum": 60,
            "examples": [
              5
            ]
          },
          "accountId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Authenticated Zerct account id when login is complete.",
            "pattern": "^acct_[A-Za-z0-9_-]+$",
            "examples": [
              "acct_01HW0000000000000000000000"
            ],
            "maxLength": 512
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "description": "Verified provider email when login is complete.",
            "format": "email",
            "examples": [
              "dev@example.com"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identity provider used when login is complete.",
            "enum": [
              "github",
              "google",
              null
            ],
            "examples": [
              "github"
            ]
          },
          "token": {
            "type": [
              "string",
              "null"
            ],
            "description": "Zerct session token returned once and stored by the CLI.",
            "pattern": "^zct_[a-f0-9]{64}$",
            "examples": [
              "zct_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
            ],
            "maxLength": 512
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "UTC timestamp when the Zerct session token expires.",
            "format": "date-time",
            "examples": [
              "2026-06-24T12:00:00.000Z"
            ]
          }
        },
        "examples": [
          {
            "status": "complete",
            "intervalSeconds": 5,
            "accountId": "acct_01HW0000000000000000000000",
            "email": "dev@example.com",
            "provider": "github",
            "token": "zct_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef",
            "expiresAt": "2026-06-24T12:00:00.000Z"
          }
        ]
      },
      "DeployRequest": {
        "type": "object",
        "description": "Request body for deploying an app.",
        "additionalProperties": false,
        "required": [
          "config",
          "commit_sha",
          "wants_database",
          "source_archive_base64"
        ],
        "properties": {
          "config": {
            "examples": [
              {
                "name": "hello-rust",
                "kind": "rust_backend",
                "run": {
                  "command": "./target/release/api",
                  "port": 3000,
                  "health": "/healthz"
                }
              }
            ],
            "$ref": "#/components/schemas/ZerctConfig"
          },
          "commit_sha": {
            "type": [
              "string",
              "null"
            ],
            "description": "Git commit SHA when available.",
            "pattern": "^[0-9a-f]{7,64}$",
            "maxLength": 512,
            "examples": [
              "0123456789abcdef"
            ]
          },
          "wants_database": {
            "type": "boolean",
            "description": "Whether managed Postgres should be attached.",
            "examples": [
              true
            ]
          },
          "source_archive_base64": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base64 encoded gzip tar source archive.",
            "maxLength": 67108864,
            "pattern": "^[\\s\\S]{0,8192}$",
            "examples": [
              "value"
            ]
          }
        },
        "examples": [
          {
            "config": {
              "name": "hello-rust",
              "kind": "rust_backend",
              "run": {
                "command": "./target/release/api",
                "port": 3000,
                "health": "/healthz"
              }
            },
            "commit_sha": null,
            "wants_database": true,
            "source_archive_base64": "H4sIAAAAAAAA"
          }
        ]
      },
      "DeployResponse": {
        "type": "object",
        "description": "Response returned after a deploy is accepted.",
        "additionalProperties": false,
        "required": [
          "app",
          "deploy",
          "build_job",
          "deploy_plan",
          "next_command"
        ],
        "properties": {
          "app": {
            "examples": [
              {
                "id": "app_1",
                "account_id": "acct_1",
                "name": "hello-rust",
                "kind": "rust_backend",
                "plan": "free",
                "runtime_status": "running",
                "url": "https://hello-rust.zerct.app"
              }
            ],
            "$ref": "#/components/schemas/App"
          },
          "deploy": {
            "examples": [
              {
                "id": "deploy_1",
                "app_id": "app_1",
                "build_job_id": "job_1",
                "commit_sha": "0123456789abcdef",
                "url": "https://hello-rust.zerct.app"
              }
            ],
            "$ref": "#/components/schemas/Deploy"
          },
          "build_job": {
            "examples": [
              {
                "id": "job_1",
                "app_id": "app_1",
                "status": "queued",
                "message": "Build queued."
              }
            ],
            "$ref": "#/components/schemas/BuildJob"
          },
          "deploy_plan": {
            "examples": [
              {
                "kind": "rust_backend",
                "check_command": "cargo check --locked && cargo clippy --locked --all-targets --all-features -- -D warnings",
                "build_command": "cargo build --release",
                "build_output_dir": "dist",
                "run_command": "./target/release/api",
                "port": 3000,
                "health_path": "/healthz",
                "build_limits": {
                  "memory": 2048,
                  "cpu": 2000,
                  "timeout_seconds": 600
                },
                "runtime_limits": {
                  "memory": 512,
                  "cpu": 250,
                  "startup_timeout_seconds": 10
                },
                "cold_start_policy": "required",
                "blue_green": {
                  "strategy": "blue_green",
                  "active_slot": "blue",
                  "candidate_slot": "green",
                  "health_path": "/healthz",
                  "keep_active_until_candidate_healthy": true,
                  "retain_previous_for_rollback": true
                },
                "idle_timeout_minutes": 15
              }
            ],
            "$ref": "#/components/schemas/DeployPlan"
          },
          "next_command": {
            "type": "string",
            "description": "Next command for humans and agents.",
            "examples": [
              "npx @zerct/zerct logs --app app_1"
            ],
            "pattern": "^[\\s\\S]{0,8192}$",
            "maxLength": 512
          }
        },
        "examples": [
          {
            "app": {
              "id": "app_1",
              "account_id": "acct_1",
              "name": "hello-rust",
              "kind": "rust_backend",
              "plan": "free",
              "runtime_status": "running",
              "url": "https://hello-rust.zerct.app"
            },
            "deploy": {
              "id": "deploy_1",
              "app_id": "app_1",
              "build_job_id": "job_1",
              "commit_sha": "0123456789abcdef",
              "url": "https://hello-rust.zerct.app"
            },
            "build_job": {
              "id": "job_1",
              "app_id": "app_1",
              "status": "queued",
              "message": "Build queued."
            },
            "deploy_plan": {
              "kind": "rust_backend",
              "check_command": "cargo check --locked && cargo clippy --locked --all-targets --all-features -- -D warnings",
              "build_command": "cargo build --release",
              "build_output_dir": "dist",
              "run_command": "./target/release/api",
              "port": 3000,
              "health_path": "/healthz",
              "build_limits": {
                "memory": 2048,
                "cpu": 2000,
                "timeout_seconds": 600
              },
              "runtime_limits": {
                "memory": 512,
                "cpu": 250,
                "startup_timeout_seconds": 10
              },
              "cold_start_policy": "required",
              "blue_green": {
                "strategy": "blue_green",
                "active_slot": "blue",
                "candidate_slot": "green",
                "health_path": "/healthz",
                "keep_active_until_candidate_healthy": true,
                "retain_previous_for_rollback": true
              },
              "idle_timeout_minutes": 15
            },
            "next_command": "npx @zerct/zerct logs --app app_1"
          }
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Agent-readable API error response.",
        "additionalProperties": false,
        "required": [
          "code",
          "message",
          "agent_instruction",
          "docs_url",
          "checkout_url"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Stable machine-readable error code.",
            "enum": [
              "missing_config",
              "invalid_toml",
              "invalid_service_name",
              "invalid_memory_limit",
              "invalid_cpu_limit",
              "invalid_port",
              "invalid_health_endpoint",
              "missing_command",
              "payment_required",
              "policy_rejected",
              "database_unavailable",
              "missing_source_archive"
            ],
            "examples": [
              "policy_rejected"
            ]
          },
          "message": {
            "type": "string",
            "description": "Short human-readable error message.",
            "pattern": "^[\\s\\S]{1,240}$",
            "maxLength": 240,
            "examples": [
              "Request validation failed."
            ]
          },
          "agent_instruction": {
            "type": "string",
            "description": "Instruction an AI agent can follow to recover.",
            "pattern": "^[\\s\\S]{1,1000}$",
            "maxLength": 1000,
            "examples": [
              "Fix the request payload and retry."
            ]
          },
          "docs_url": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Documentation URL for the recovery path.",
                "examples": [
                  "https://docs.zerct.com/deploy"
                ]
              },
              {
                "type": "null"
              }
            ],
            "examples": [
              "https://docs.zerct.com/deploy"
            ]
          },
          "checkout_url": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Stripe URL when payment is required.",
                "examples": [
                  "https://checkout.stripe.com/c/pay/cs_test_123"
                ]
              },
              {
                "type": "null"
              }
            ],
            "examples": [
              "https://checkout.stripe.com/c/pay/cs_test_123"
            ]
          }
        },
        "examples": [
          {
            "code": "policy_rejected",
            "message": "Request validation failed.",
            "agent_instruction": "Fix the request payload and retry.",
            "docs_url": "https://docs.zerct.com/deploy",
            "checkout_url": null
          }
        ]
      },
      "AuthProvider": {
        "type": "string",
        "description": "OAuth provider used by the Zerct account.",
        "enum": [
          "github",
          "google"
        ],
        "examples": [
          "github"
        ]
      },
      "Plan": {
        "type": "string",
        "description": "Zerct plan assigned to a deploy.",
        "enum": [
          "free",
          "pro"
        ],
        "examples": [
          "free"
        ]
      },
      "RuntimeStatus": {
        "type": "string",
        "description": "Current runtime state.",
        "enum": [
          "running",
          "sleeping",
          "starting",
          "stopping",
          "failed"
        ],
        "examples": [
          "running"
        ]
      },
      "BuildStatus": {
        "type": [
          "string",
          "null"
        ],
        "description": "Latest build state when a build exists.",
        "enum": [
          "queued",
          "running",
          "succeeded",
          "failed",
          "canceled",
          null
        ],
        "examples": [
          "succeeded"
        ]
      },
      "AccountProfileResponse": {
        "type": "object",
        "description": "Account profile returned to the signed-in user.",
        "additionalProperties": false,
        "required": [
          "accountId",
          "email",
          "provider",
          "handle",
          "displayName",
          "accountUrl"
        ],
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Authenticated Zerct account id.",
            "pattern": "^acct_[A-Za-z0-9_-]+$",
            "examples": [
              "acct_01HW0000000000000000000000"
            ],
            "maxLength": 512
          },
          "email": {
            "type": "string",
            "description": "Provider email for the authenticated account.",
            "format": "email",
            "examples": [
              "dev@example.com"
            ]
          },
          "provider": {
            "examples": [
              "github"
            ],
            "$ref": "#/components/schemas/AuthProvider"
          },
          "handle": {
            "type": [
              "string",
              "null"
            ],
            "description": "Private Zerct account handle.",
            "pattern": "^[a-z0-9][a-z0-9-]{1,37}[a-z0-9]$",
            "examples": [
              "acme"
            ],
            "maxLength": 512
          },
          "displayName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Saved display name for the account.",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9 ._-]{0,79}$",
            "minLength": 1,
            "maxLength": 80,
            "examples": [
              "Acme"
            ]
          },
          "accountUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "Private account dashboard URL.",
            "format": "uri",
            "examples": [
              "https://zerct.com/acme"
            ]
          }
        },
        "examples": [
          {
            "accountId": "acct_01HW0000000000000000000000",
            "email": "dev@example.com",
            "provider": "github",
            "handle": "acme",
            "displayName": "Acme",
            "accountUrl": "https://zerct.com/acme"
          }
        ]
      },
      "AccountProfileUpdateRequest": {
        "type": "object",
        "description": "Account profile update request.",
        "additionalProperties": false,
        "required": [
          "handle",
          "displayName"
        ],
        "properties": {
          "handle": {
            "type": "string",
            "description": "Unique lowercase account handle.",
            "pattern": "^[a-z0-9][a-z0-9-]{1,37}[a-z0-9]$",
            "minLength": 3,
            "maxLength": 39,
            "examples": [
              "acme"
            ]
          },
          "displayName": {
            "type": "string",
            "description": "Display name shown in the private dashboard.",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9 ._-]{0,79}$",
            "minLength": 1,
            "maxLength": 80,
            "examples": [
              "Acme"
            ]
          }
        },
        "examples": [
          {
            "handle": "acme",
            "displayName": "Acme"
          }
        ]
      },
      "AccountDashboardResponse": {
        "type": "object",
        "description": "Authenticated account dashboard response.",
        "additionalProperties": false,
        "required": [
          "profile",
          "apps",
          "usage"
        ],
        "properties": {
          "profile": {
            "examples": [
              {
                "accountId": "acct_01HW0000000000000000000000",
                "email": "dev@example.com",
                "provider": "github",
                "handle": "acme",
                "displayName": "Acme",
                "accountUrl": "https://zerct.com/acme"
              }
            ],
            "$ref": "#/components/schemas/AccountProfileResponse"
          },
          "apps": {
            "type": "array",
            "description": "Deploys owned by the account.",
            "minItems": 0,
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/AccountDashboardApp"
            },
            "examples": [
              [
                {
                  "appId": "app_01HW0000000000000000000000",
                  "name": "hello-rust",
                  "slug": "hello-rust",
                  "url": "https://hello-rust.zerct.app",
                  "plan": "free",
                  "runtimeStatus": "running",
                  "latestBuildStatus": "succeeded",
                  "deployCount": 3,
                  "runtimeMemoryMib": 256,
                  "runtimeCpuMillis": 250,
                  "databaseStorageMib": 512,
                  "idleTimeoutMinutes": 15,
                  "latestDeployAt": "2026-05-25T12:00:00.000Z"
                }
              ]
            ]
          },
          "usage": {
            "examples": [
              {
                "appCount": 1,
                "runningCount": 1,
                "runtimeMemoryMib": 256,
                "runtimeCpuMillis": 250,
                "databaseStorageMib": 512,
                "deployCount": 3
              }
            ],
            "$ref": "#/components/schemas/AccountDashboardUsage"
          }
        },
        "examples": [
          {
            "profile": {
              "accountId": "acct_01HW0000000000000000000000",
              "email": "dev@example.com",
              "provider": "github",
              "handle": "acme",
              "displayName": "Acme",
[...]
