{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Tovuk API",
    "summary": "Control-plane API for Tovuk deploys.",
    "version": "0.1.0",
    "description": "Use the Tovuk API to authenticate, create Rust backend deploys, manage account onboarding, and inspect deploy health. Context: info.",
    "termsOfService": "https://tovuk.com/legal/terms",
    "contact": {
      "name": "Tovuk",
      "url": "https://tovuk.com",
      "email": "support@tovuk.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://tovuk.com/legal"
    }
  },
  "externalDocs": {
    "description": "Tovuk documentation Context: externalDocs.",
    "url": "https://docs.tovuk.com"
  },
  "servers": [
    {
      "url": "https://api.tovuk.com",
      "description": "Production API Context: servers.0."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Private account onboarding and dashboard endpoints. Context: tags.0."
    },
    {
      "name": "Auth",
      "description": "Authentication endpoints. Context: tags.1."
    },
    {
      "name": "Deploy",
      "description": "Deploy lifecycle endpoints. Context: tags.2."
    },
    {
      "name": "Health",
      "description": "API availability endpoints. Context: tags.3."
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Check public API health",
        "description": "Returns the Tovuk control-plane health state from the public health alias. Context: paths./health.get.",
        "operationId": "getHealthAlias",
        "responses": {
          "200": {
            "$ref": "#/components/responses/HealthOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Check infrastructure API health",
        "description": "Returns the Tovuk control-plane health state for infrastructure probes and deploy scripts. Context: paths./healthz.get.",
        "operationId": "getHealthz",
        "responses": {
          "200": {
            "$ref": "#/components/responses/HealthOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/status": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Check platform status",
        "description": "Returns structured Tovuk API and dependency health for humans, SDKs, and agents. Context: paths./v1/status.get.",
        "operationId": "getPlatformStatus",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlatformStatusLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/PlatformStatusUnavailable"
          }
        }
      }
    },
    "/v1/login/device": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Start device login",
        "description": "Starts a device login flow for the Tovuk CLI. Context: paths./v1/login/device.post.",
        "operationId": "startDeviceLogin",
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginStarted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/login/device/{device_code}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Poll device login",
        "description": "Polls a first-run browser login until it is complete, pending, or expired. Context: paths./v1/login/device/{device_code}.get.",
        "operationId": "pollDeviceLogin",
        "parameters": [
          {
            "name": "device_code",
            "in": "path",
            "description": "Opaque device code returned by start device login. Context: paths./v1/login/device/{device_code}.get.parameters.0.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^zdev_[a-f0-9]{64}$",
              "maxLength": 512,
              "examples": [
                "zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
              ]
            },
            "example": "zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginPolled"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account profile",
        "description": "Returns the authenticated account profile used by web onboarding and SDK flows. Context: paths./v1/account.get.",
        "operationId": "getAccountProfile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountProfileLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update account profile",
        "description": "Sets the private Tovuk handle and display name used for the authenticated dashboard. Context: paths./v1/account.put.",
        "operationId": "updateAccountProfile",
        "requestBody": {
          "description": "Account handle and display name. Context: paths./v1/account.put.requestBody.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountProfileUpdateRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for PUT /v1/account",
                  "value": {
                    "handle": "acme",
                    "displayName": "Acme"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountProfileUpdated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/account/dashboard": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account dashboard",
        "description": "Returns deploys and usage for the authenticated account dashboard. Context: paths./v1/account/dashboard.get.",
        "operationId": "getAccountDashboard",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountDashboardLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deploy": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Deploy app",
        "description": "Deploys an app from a source archive produced by the Tovuk CLI. Context: paths./v1/deploy.post.",
        "operationId": "createDeploy",
        "requestBody": {
          "description": "Deploy source archive and runtime metadata. Context: paths./v1/deploy.post.requestBody.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeployRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/deploy",
                  "value": {
                    "config": {
                      "name": "hello-rust",
                      "kind": "rust_backend",
                      "run": {
                        "command": "./target/release/api",
                        "port": 3000,
                        "health": "/healthz"
                      }
                    },
                    "commit_sha": null,
                    "wants_database": true,
                    "source_archive_base64": "H4sIAAAAAAAA"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeployAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/apps": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List apps",
        "description": "List apps for GET /v1/apps. Context: paths./v1/apps.get.",
        "operationId": "listApps",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AppsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/apps/{app_id}": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Get app",
        "description": "Get app for GET /v1/apps/{app_id}. Context: paths./v1/apps/{app_id}.get.",
        "operationId": "getApp",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatusLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Tovuk app id or app name. Context: paths./v1/apps/{app_id}.get.parameters.0.",
            "example": "app_1"
          }
        ]
      },
      "delete": {
        "tags": [
          "Deploy"
        ],
        "summary": "Delete app",
        "description": "Deletes an app when it is not actively running. Context: paths./v1/apps/{app_id}.delete.",
        "operationId": "deleteApp",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatusLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Tovuk app id or app name. Context: paths./v1/apps/{app_id}.delete.parameters.0. Context: paths./v1/apps/{app_id}.delete.parameters.0.",
            "example": "app_1"
          }
        ]
      }
    },
    "/v1/apps/{app_id}/overview": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Get app overview",
        "description": "Returns app status, deploys, builds, logs, env names, domains, database metadata, and next actions. Context: paths./v1/apps/{app_id}/overview.get.",
        "operationId": "getAppOverview",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Tovuk app id or app name. Context: paths./v1/apps/{app_id}/overview.get.parameters.0.",
            "example": "app_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                100
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/apps/{app_id}/overview.get.parameters.1.",
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 128,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/apps/{app_id}/overview.get.parameters.2.",
            "example": "1000"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AppOverviewLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/apps/{app_id}/deploys": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List app deploys",
        "description": "List app deploys for GET /v1/apps/{app_id}/deploys. Context: paths./v1/apps/{app_id}/deploys.get.",
        "operationId": "listAppDeploys",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeploysLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Tovuk app id or app name. Context: paths./v1/apps/{app_id}/deploys.get.parameters.0. Context: paths./v1/apps/{app_id}/deploys.get.parameters.0.",
            "example": "app_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                1
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/apps/{app_id}/deploys.get.parameters.1.",
            "example": 1
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 512,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/apps/{app_id}/deploys.get.parameters.2.",
            "example": "1000"
          }
        ]
      }
    },
    "/v1/apps/{app_id}/builds": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List app builds",
        "description": "List app builds for GET /v1/apps/{app_id}/builds. Context: paths./v1/apps/{app_id}/builds.get.",
        "operationId": "listAppBuilds",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BuildsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Tovuk app id or app name. Context: paths./v1/apps/{app_id}/builds.get.parameters.0. Context: paths./v1/apps/{app_id}/builds.get.parameters.0.",
            "example": "app_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                1
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/apps/{app_id}/builds.get.parameters.1. Context: paths./v1/apps/{app_id}/builds.get.parameters.1.",
            "example": 1
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 512,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/apps/{app_id}/builds.get.parameters.2. Context: paths./v1/apps/{app_id}/builds.get.parameters.2.",
            "example": "1000"
          }
        ]
      }
    },
    "/v1/apps/{app_id}/logs": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Read app logs",
        "description": "Returns the latest app logs in chronological order. Context: paths./v1/apps/{app_id}/logs.get.",
        "operationId": "readAppLogs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/LogsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Tovuk app id or app name. Context: paths./v1/apps/{app_id}/logs.get.parameters.0. Context: paths./v1/apps/{app_id}/logs.get.parameters.0.",
            "example": "app_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                1
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/apps/{app_id}/logs.get.parameters.1. Context: paths./v1/apps/{app_id}/logs.get.parameters.1.",
            "example": 1
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 512,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/apps/{app_id}/logs.get.parameters.2. Context: paths./v1/apps/{app_id}/logs.get.parameters.2.",
            "example": "1000"
          }
        ]
      }
    },
    "/v1/apps/{app_id}/database": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Get managed Postgres",
        "description": "Get managed Postgres for GET /v1/apps/{app_id}/database. Context: paths./v1/apps/{app_id}/database.get.",
        "operationId": "getAppDatabase",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DatabaseLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Tovuk app id or app name. Context: paths./v1/apps/{app_id}/database.get.parameters.0. Context: paths./v1/apps/{app_id}/database.get.parameters.0.",
            "example": "app_1"
          }
        ]
      }
    },
    "/v1/apps/{app_id}/env": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List environment variables",
        "description": "List environment variables for GET /v1/apps/{app_id}/env. Context: paths./v1/apps/{app_id}/env.get.",
        "operationId": "listAppEnv",
        "responses": {
          "200": {
            "$ref": "#/components/responses/EnvLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Tovuk app id or app name. Context: paths./v1/apps/{app_id}/env.get.parameters.0. Context: paths./v1/apps/{app_id}/env.get.parameters.0.",
            "example": "app_1"
          }
        ]
      },
      "put": {
        "tags": [
          "Deploy"
        ],
        "summary": "Set environment variable",
        "description": "Set environment variable for PUT /v1/apps/{app_id}/env. Context: paths./v1/apps/{app_id}/env.put.",
        "operationId": "setAppEnv",
        "responses": {
          "200": {
            "$ref": "#/components/responses/EnvSet"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Tovuk app id or app name. Context: paths./v1/apps/{app_id}/env.put.parameters.0. Context: paths./v1/apps/{app_id}/env.put.parameters.0.",
            "example": "app_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvSetRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for PUT /v1/apps/{app_id}/env",
                  "value": {
                    "name": "value",
                    "value": "value"
                  }
                }
              }
            }
          },
          "description": "Request body for PUT /v1/apps/{app_id}/env. Context: paths./v1/apps/{app_id}/env.put.requestBody."
        }
      }
    },
    "/v1/apps/{app_id}/env/{name}": {
      "delete": {
        "tags": [
          "Deploy"
        ],
        "summary": "Delete environment variable",
        "description": "Delete environment variable for DELETE /v1/apps/{app_id}/env/{name}. Context: paths./v1/apps/{app_id}/env/{name}.delete.",
        "operationId": "deleteAppEnv",
        "responses": {
          "200": {
            "$ref": "#/components/responses/EnvDeleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Tovuk app id or app name. Context: paths./v1/apps/{app_id}/env/{name}.delete.parameters.0. Context: paths./v1/apps/{app_id}/env/{name}.delete.parameters.0.",
            "example": "app_1"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z_][A-Z0-9_]{0,63}$",
              "maxLength": 512,
              "examples": [
                "DATABASE_URL"
              ]
            },
            "description": "Environment variable name. Context: paths./v1/apps/{app_id}/env/{name}.delete.parameters.1.",
            "example": "DATABASE_URL"
          }
        ]
      }
    },
    "/v1/apps/{app_id}/domains": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List custom domains",
        "description": "List custom domains for GET /v1/apps/{app_id}/domains. Context: paths./v1/apps/{app_id}/domains.get.",
        "operationId": "listAppDomains",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DomainsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Tovuk app id or app name. Context: paths./v1/apps/{app_id}/domains.get.parameters.0. Context: paths./v1/apps/{app_id}/domains.get.parameters.0.",
            "example": "app_1"
          }
        ]
      },
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Add custom domain",
        "description": "Add custom domain for POST /v1/apps/{app_id}/domains. Context: paths./v1/apps/{app_id}/domains.post.",
        "operationId": "addAppDomain",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DomainAdded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Tovuk app id or app name. Context: paths./v1/apps/{app_id}/domains.post.parameters.0. Context: paths./v1/apps/{app_id}/domains.post.parameters.0.",
            "example": "app_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppDomainAddRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/apps/{app_id}/domains",
                  "value": {
                    "domain": "api.example.com"
                  }
                }
              }
            }
          },
          "description": "Request body for POST /v1/apps/{app_id}/domains. Context: paths./v1/apps/{app_id}/domains.post.requestBody."
        }
      }
    },
    "/v1/apps/{app_id}/domains/{domain}/verify": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Verify custom domain",
        "description": "Checks whether the custom domain CNAME points at Tovuk and activates routing when ownership is verified. Context: paths./v1/apps/{app_id}/domains/{domain}/verify.post.",
        "operationId": "verifyAppDomain",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DomainVerified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Tovuk app id or app name. Context: paths./v1/apps/{app_id}/domains/{domain}/verify.post.parameters.0.",
            "example": "app_1"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9][a-z0-9.-]*[a-z0-9]$",
              "maxLength": 512,
              "examples": [
                "api.example.com"
              ]
            },
            "description": "Custom domain name. Context: paths./v1/apps/{app_id}/domains/{domain}/verify.post.parameters.1.",
            "example": "api.example.com"
          }
        ]
      }
    },
    "/v1/apps/{app_id}/domains/{domain}": {
      "delete": {
        "tags": [
          "Deploy"
        ],
        "summary": "Delete custom domain",
        "description": "Delete custom domain for DELETE /v1/apps/{app_id}/domains/{domain}. Context: paths./v1/apps/{app_id}/domains/{domain}.delete.",
        "operationId": "deleteAppDomain",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DomainDeleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "app_1"
              ]
            },
            "description": "Tovuk app id or app name. Context: paths./v1/apps/{app_id}/domains/{domain}.delete.parameters.0. Context: paths./v1/apps/{app_id}/domains/{domain}.delete.parameters.0.",
            "example": "app_1"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9][a-z0-9.-]*[a-z0-9]$",
              "maxLength": 512,
              "examples": [
                "api.example.com"
              ]
            },
            "description": "Custom domain name. Context: paths./v1/apps/{app_id}/domains/{domain}.delete.parameters.1.",
            "example": "api.example.com"
          }
        ]
      }
    },
    "/v1/deploys/{deploy_id}": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Get deploy",
        "description": "Get deploy for GET /v1/deploys/{deploy_id}. Context: paths./v1/deploys/{deploy_id}.get.",
        "operationId": "getDeploy",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeployDetailsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "deploy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^deploy_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "deploy_1"
              ]
            },
            "description": "Tovuk deploy id. Context: paths./v1/deploys/{deploy_id}.get.parameters.0.",
            "example": "deploy_1"
          }
        ]
      }
    },
    "/v1/deploys/{deploy_id}/cancel": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Cancel queued deploy",
        "description": "Cancel queued deploy for POST /v1/deploys/{deploy_id}/cancel. Context: paths./v1/deploys/{deploy_id}/cancel.post.",
        "operationId": "cancelDeploy",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeployCanceled"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "deploy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^deploy_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "deploy_1"
              ]
            },
            "description": "Tovuk deploy id. Context: paths./v1/deploys/{deploy_id}/cancel.post.parameters.0. Context: paths./v1/deploys/{deploy_id}/cancel.post.parameters.0.",
            "example": "deploy_1"
          }
        ]
      }
    },
    "/v1/deploys/{deploy_id}/logs": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Read deploy logs",
        "description": "Read deploy logs for GET /v1/deploys/{deploy_id}/logs. Context: paths./v1/deploys/{deploy_id}/logs.get.",
        "operationId": "readDeployLogs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/LogsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "deploy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^deploy_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "deploy_1"
              ]
            },
            "description": "Tovuk deploy id. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.0. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.0.",
            "example": "deploy_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                1
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.1. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.1.",
            "example": 1
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 512,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.2. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.2.",
            "example": "1000"
          }
        ]
      }
    },
    "/v1/builds/{build_id}": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Get build",
        "description": "Get build for GET /v1/builds/{build_id}. Context: paths./v1/builds/{build_id}.get.",
        "operationId": "getBuild",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BuildDetailsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "build_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^job_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "job_1"
              ]
            },
            "description": "Tovuk build id. Context: paths./v1/builds/{build_id}.get.parameters.0.",
            "example": "job_1"
          }
        ]
      }
    },
    "/v1/billing/portal": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create billing portal link",
        "description": "Create billing portal link for POST /v1/billing/portal. Context: paths./v1/billing/portal.post.",
        "operationId": "createBillingPortal",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BillingPortalCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/builds/{build_id}/logs": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Read build logs",
        "description": "Returns logs associated with a build job in chronological order. Context: paths./v1/builds/{build_id}/logs.get.",
        "operationId": "readBuildLogs",
        "parameters": [
          {
            "name": "build_id",
            "in": "path",
            "required": true,
            "description": "Tovuk build job id. Context: paths./v1/builds/{build_id}/logs.get.parameters.0.",
            "schema": {
              "type": "string",
              "pattern": "^job_[A-Za-z0-9_]+$",
              "maxLength": 64,
              "examples": [
                "job_1"
              ]
            },
            "example": "job_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum build log records to return. Context: paths./v1/builds/{build_id}/logs.get.parameters.1.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "examples": [
                100
              ]
            },
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for older build log records. Context: paths./v1/builds/{build_id}/logs.get.parameters.2.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 128,
              "examples": [
                "1000"
              ]
            },
            "example": "1000"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LogsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/capabilities": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Discover API capabilities",
        "description": "Returns the public API capability map for humans and agents. Context: paths./v1/capabilities.get.",
        "operationId": "getCapabilities",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CapabilitiesLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get current account",
        "description": "Returns the authenticated account profile. Context: paths./v1/me.get.",
        "operationId": "getCurrentAccount",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountProfileLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account usage",
        "description": "Returns account usage and included plan limits. Context: paths./v1/usage.get.",
        "operationId": "getAccountUsage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountUsageLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/activity": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account activity",
        "description": "Returns account profile, usage, apps, recent deploys, recent builds, and next actions. Context: paths./v1/activity.get.",
        "operationId": "getAccountActivity",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                100
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/activity.get.parameters.0.",
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 128,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/activity.get.parameters.1.",
            "example": "1000"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountActivityLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deploys": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List deploys",
        "description": "Lists recent deploys account-wide or filtered by app id or app name. Context: paths./v1/deploys.get.",
        "operationId": "listDeploys",
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": false,
            "description": "Optional app id or app name filter. Context: paths./v1/deploys.get.parameters.0.",
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 64,
              "examples": [
                "app_1"
              ]
            },
            "example": "app_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum records to return. Context: paths./v1/deploys.get.parameters.1. Context: paths./v1/deploys.get.parameters.1.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "examples": [
                100
              ]
            },
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor returned by the previous response. Context: paths./v1/deploys.get.parameters.2. Context: paths./v1/deploys.get.parameters.2.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 128,
              "examples": [
                "1000"
              ]
            },
            "example": "1000"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeploysLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/builds": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List builds",
        "description": "Lists recent build jobs account-wide or filtered by app id or app name. Context: paths./v1/builds.get.",
        "operationId": "listBuilds",
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": false,
            "description": "Optional app id or app name filter. Context: paths./v1/builds.get.parameters.0. Context: paths./v1/builds.get.parameters.0.",
            "schema": {
              "type": "string",
              "pattern": "^(app_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 64,
              "examples": [
                "app_1"
              ]
            },
            "example": "app_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum records to return. Context: paths./v1/builds.get.parameters.1. Context: paths./v1/builds.get.parameters.1.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "examples": [
                100
              ]
            },
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor returned by the previous response. Context: paths./v1/builds.get.parameters.2. Context: paths./v1/builds.get.parameters.2.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 128,
              "examples": [
                "1000"
              ]
            },
            "example": "1000"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BuildsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create subscription checkout link",
        "description": "Create a Stripe-hosted subscription Checkout URL for Tovuk Pro. Context: paths./v1/billing/checkout.post.",
        "operationId": "createBillingCheckout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingCheckoutRequest"
              },
              "examples": {
                "example": {
                  "summary": "Create Pro checkout",
                  "value": {
                    "target_plan": "pro",
                    "reason": "Project limit reached"
                  }
                }
              }
            }
          },
          "description": "JSON body describing the target plan and agent-readable checkout reason. Context: paths./v1/billing/checkout.post.requestBody."
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BillingCheckoutCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/support/tickets": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List support tickets",
        "description": "List recent support tickets for the authenticated account. Context: paths./v1/support/tickets.get.",
        "operationId": "listSupportTickets",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "format": "int32"
            },
            "description": "Maximum number of tickets to return. Context: paths./v1/support/tickets.get.parameters.limit."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SupportTicketsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create support ticket",
        "description": "Create a rate-limited support ticket with agent-readable details. Context: paths./v1/support/tickets.post.",
        "operationId": "createSupportTicket",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupportTicketCreateRequest"
              },
              "examples": {
                "example": {
                  "summary": "Create support ticket",
                  "value": {
                    "subject": "Deploy failed",
                    "details": "Agent retried deploy after doctor.",
                    "app_id": "app_1",
                    "failing_command": "tovuk deploy --wait --json",
                    "build_id": "job_1",
                    "deploy_id": "deploy_1",
                    "first_log_line": "cargo check failed in src/main.rs",
                    "severity": "normal"
                  }
                }
              }
            }
          },
          "description": "JSON body describing the support issue, optional app, structured failure context, and optional severity. Context: paths./v1/support/tickets.post.requestBody."
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SupportTicketCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/support/tickets/{ticket_id}/resolve": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Resolve support ticket",
        "description": "Mark an authenticated account support ticket resolved after the agent fixes the issue. Context: paths./v1/support/tickets/{ticket_id}/resolve.post.",
        "operationId": "resolveSupportTicket",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ticket_[a-f0-9]{20}$",
              "maxLength": 27
            },
            "description": "Support ticket id returned by support list or create. Context: paths./v1/support/tickets/{ticket_id}/resolve.post.parameters.ticket_id.",
            "examples": {
              "example": {
                "summary": "Ticket id",
                "value": "ticket_0123456789abcdef0123"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SupportTicketResolved"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Tovuk session token returned by the login flow. JWT handling follows RFC8725 best current practices. Context: components.securitySchemes.bearerAuth."
      }
    },
    "headers": {
      "RateLimitLimit": {
        "description": "Maximum requests available in the current rate-limit window. Context: components.headers.RateLimitLimit.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 100000,
          "examples": [
            1000
          ]
        }
      },
      "RateLimitRemaining": {
        "description": "Requests remaining in the current rate-limit window. Context: components.headers.RateLimitRemaining.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "maximum": 100000,
          "examples": [
            999
          ]
        }
      },
      "RateLimitReset": {
        "description": "Unix timestamp for the end of the current rate-limit window. Context: components.headers.RateLimitReset.",
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 1700000000,
          "maximum": 4102444800,
          "examples": [
            1779710400
          ]
        }
      },
      "RetryAfter": {
        "description": "Seconds to wait before retrying a rate-limited request. Context: components.headers.RetryAfter.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 3600,
          "examples": [
            60
          ]
        }
      }
    },
    "responses": {
      "HealthOk": {
        "description": "The API is healthy. Context: components.responses.HealthOk.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HealthResponse"
            },
            "examples": {
              "example": {
                "summary": "The API is healthy.",
                "value": {
                  "ok": true,
                  "service": "tovuk-api"
                }
              }
            }
          }
        }
      },
      "LoginStarted": {
        "description": "Device login information. Context: components.responses.LoginStarted.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LoginStartResponse"
            },
            "examples": {
              "example": {
                "summary": "Device login information.",
                "value": {
                  "loginUrl": "https://tovuk.com/login?device_code=zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef",
                  "verificationUri": "https://tovuk.com/login",
                  "deviceCode": "zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef",
                  "userCode": "ABC123",
                  "intervalSeconds": 5,
                  "expiresInSeconds": 600
                }
              }
            }
          }
        }
      },
      "LoginPolled": {
        "description": "Device login poll result. Context: components.responses.LoginPolled.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LoginPollResponse"
            },
            "examples": {
              "example": {
                "summary": "Device login poll result.",
                "value": {
                  "status": "complete",
                  "intervalSeconds": 5,
                  "accountId": "acct_01HW0000000000000000000000",
                  "email": "dev@example.com",
                  "provider": "github",
                  "token": "tovuk_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef",
                  "expiresAt": "2026-06-24T12:00:00.000Z"
                }
              }
            }
          }
        }
      },
      "DeployAccepted": {
        "description": "Deploy accepted. Context: components.responses.DeployAccepted.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeployResponse"
            },
            "examples": {
              "example": {
                "summary": "Deploy accepted.",
                "value": {
                  "app": {
                    "id": "app_1",
                    "account_id": "acct_1",
                    "name": "hello-rust",
                    "kind": "rust_backend",
                    "plan": "free",
                    "runtime_status": "running",
                    "url": "https://hello-rust.tovuk.app"
                  },
                  "deploy": {
                    "id": "deploy_1",
                    "app_id": "app_1",
                    "build_job_id": "job_1",
                    "commit_sha": "0123456789abcdef",
                    "url": "https://hello-rust.tovuk.app"
                  },
                  "build_job": {
                    "id": "job_1",
                    "app_id": "app_1",
                    "status": "queued",
                    "message": "Build queued."
                  },
                  "deploy_plan": {
                    "kind": "rust_backend",
                    "check_command": "cargo fmt --all --check && cargo check --locked && cargo clippy --locked --all-targets --all-features -- -D warnings",
                    "build_command": "cargo build --release",
                    "build_output_dir": "dist",
                    "run_command": "./target/release/api",
                    "port": 3000,
                    "health_path": "/healthz",
                    "build_limits": {
                      "memory": 2048,
                      "cpu": 2000,
                      "timeout_seconds": 600
                    },
                    "runtime_limits": {
                      "memory": 512,
                      "cpu": 250,
                      "startup_timeout_seconds": 10
                    },
                    "cold_start_policy": "required",
                    "blue_green": {
                      "strategy": "blue_green",
                      "active_slot": "blue",
                      "candidate_slot": "green",
                      "health_path": "/healthz",
                      "keep_active_until_candidate_healthy": true,
                      "retain_previous_for_rollback": true
                    },
                    "idle_timeout_minutes": 15
                  },
                  "next_command": "tovuk logs --app app_1"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "BadRequest": {
        "description": "The request body or parameters are invalid. Context: components.responses.BadRequest.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "invalidRequest": {
                "summary": "Invalid request",
                "value": {
                  "code": "policy_rejected",
                  "message": "Request validation failed.",
                  "agent_instruction": "Read the error message, update the request, and retry.",
                  "docs_url": "https://docs.tovuk.com",
                  "checkout_url": null
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication is required or the token is invalid. Context: components.responses.Unauthorized.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "loginRequired": {
                "summary": "Login required",
                "value": {
                  "code": "policy_rejected",
                  "message": "Tovuk login is required.",
                  "agent_instruction": "Read the error message, update the request, and retry.",
                  "docs_url": "https://docs.tovuk.com",
                  "checkout_url": null
                }
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "The rate limit has been exceeded. Context: components.responses.TooManyRequests.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rateLimited": {
                "summary": "Rate limited",
                "value": {
                  "code": "policy_rejected",
                  "message": "Too many requests.",
                  "agent_instruction": "Read the error message, update the request, and retry.",
                  "docs_url": "https://docs.tovuk.com",
                  "checkout_url": null
                }
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "The API could not complete the request. Context: components.responses.InternalServerError.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "serverError": {
                "summary": "Server error",
                "value": {
                  "code": "database_unavailable",
                  "message": "The API could not complete the request.",
                  "agent_instruction": "Retry the request. If it keeps failing, check Tovuk status.",
                  "docs_url": "https://docs.tovuk.com/status",
                  "checkout_url": null
                }
              }
            }
          }
        }
      },
      "AccountProfileLoaded": {
        "description": "Signed-in account profile response. Context: components.responses.AccountProfileLoaded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AccountProfileResponse"
            },
            "examples": {
              "example": {
                "summary": "Signed-in account profile response.",
                "value": {
                  "accountId": "acct_01HW0000000000000000000000",
                  "email": "dev@example.com",
                  "provider": "github",
                  "plan": "free",
                  "handle": "acme",
                  "displayName": "Acme",
                  "accountUrl": "https://tovuk.com/acme"
                }
              }
            }
          }
        }
      },
      "AccountProfileUpdated": {
        "description": "Updated authenticated account profile. Context: components.responses.AccountProfileUpdated.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AccountProfileResponse"
            },
            "examples": {
              "example": {
                "summary": "Updated authenticated account profile.",
                "value": {
                  "accountId": "acct_01HW0000000000000000000000",
                  "email": "dev@example.com",
                  "provider": "github",
                  "plan": "free",
                  "handle": "acme",
                  "displayName": "Acme",
                  "accountUrl": "https://tovuk.com/acme"
                }
              }
            }
          }
        }
      },
      "AccountDashboardLoaded": {
        "description": "Authenticated account dashboard. Context: components.responses.AccountDashboardLoaded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AccountDashboardResponse"
            },
            "examples": {
              "example": {
                "summary": "Authenticated account dashboard.",
                "value": {
                  "profile": {
                    "accountId": "acct_01HW0000000000000000000000",
                    "email": "dev@example.com",
                    "provider": "github",
                    "plan": "free",
                    "handle": "acme",
                    "displayName": "Acme",
                    "accountUrl": "https://tovuk.com/acme"
                  },
                  "apps": [],
                  "usage": {
                    "appCount": 1,
                    "runningCount": 1,
                    "databaseCount": 1,
                    "runtimeMemoryMib": 512,
                    "runtimeCpuMillis": 250,
                    "databaseStorageMib": 512,
                    "deployCount": 3,
                    "monthlyDeployCount": 3,
                    "monthlyBuildMinutes": 5,
                    "customDomainCount": 1
                  },
                  "limits": {
                    "projects": 3,
                    "managedDatabases": 1,
                    "postgresStorageMib": 512,
                    "postgresStorageMibPerDatabase": 512,
                    "dataTransferGib": 25,
                    "monthlyBuildMinutes": 300,
                    "monthlyDeployments": 200,
                    "concurrentBuilds": 2,
                    "maxBuildDurationSeconds": 600,
                    "customDomains": 10,
                    "alwaysOnApps": 0,
                    "logRetentionDays": 3
                  }
                }
              }
            }
          }
        }
      },
      "AppsLoaded": {
        "description": "Apps loaded. Context: components.responses.AppsLoaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AppsResponse"
            },
            "examples": {
              "example": {
                "summary": "Apps loaded.",
                "value": {
                  "apps": [
                    {
                      "appId": "app_01HW0000000000000000000000",
                      "name": "hello-rust",
                      "slug": "hello-rust",
                      "url": "https://hello-rust.tovuk.app",
                      "plan": "free",
                      "runtimeStatus": "running",
                      "latestBuildStatus": "succeeded",
                      "deployCount": 3,
                      "runtimeMemoryMib": 256,
                      "runtimeCpuMillis": 250,
                      "databaseStorageMib": 512,
                      "idleTimeoutMinutes": 15,
                      "latestDeployAt": "2026-05-25T12:00:00.000Z"
                    }
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "StatusLoaded": {
        "description": "App status loaded. Context: components.responses.StatusLoaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StatusResponse"
            },
            "examples": {
              "example": {
                "summary": "App status loaded.",
                "value": {
                  "app": {
                    "id": "app_1",
                    "account_id": "acct_1",
                    "name": "hello-rust",
                    "kind": "rust_backend",
                    "plan": "free",
                    "runtime_status": "running",
                    "url": "https://hello-rust.tovuk.app"
                  },
                  "latest_deploy": {
                    "id": "deploy_1",
                    "app_id": "app_1",
                    "build_job_id": "job_1",
                    "commit_sha": "0123456789abcdef",
                    "url": "https://hello-rust.tovuk.app"
                  },
                  "latest_build_job": {
                    "id": "job_1",
                    "app_id": "app_1",
                    "status": "queued",
                    "message": "Build queued."
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "DeploysLoaded": {
        "description": "Deploys loaded. Context: components.responses.DeploysLoaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeploysResponse"
            },
            "examples": {
              "example": {
                "summary": "Deploys loaded.",
                "value": {
                  "deploys": [
                    {
                      "id": "deploy_1",
                      "app_id": "app_1",
                      "build_job_id": "job_1",
                      "commit_sha": "0123456789abcdef",
                      "url": "https://hello-rust.tovuk.app"
                    }
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "DeployDetailsLoaded": {
        "description": "Deploy details loaded. Context: components.responses.DeployDetailsLoaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeployDetailsResponse"
            },
            "examples": {
              "example": {
                "summary": "Deploy details loaded.",
                "value": {
                  "app": {
                    "id": "app_1",
                    "account_id": "acct_1",
                    "name": "hello-rust",
                    "kind": "rust_backend",
                    "plan": "free",
                    "runtime_status": "running",
                    "url": "https://hello-rust.tovuk.app"
                  },
                  "deploy": {
                    "id": "deploy_1",
                    "app_id": "app_1",
                    "build_job_id": "job_1",
                    "commit_sha": "0123456789abcdef",
                    "url": "https://hello-rust.tovuk.app"
                  },
                  "build_job": {
                    "id": "job_1",
                    "app_id": "app_1",
                    "status": "queued",
                    "message": "Build queued."
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "DeployCanceled": {
        "description": "Deploy canceled. Context: components.responses.DeployCanceled.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeployCancelResponse"
            },
            "examples": {
              "example": {
                "summary": "Deploy canceled.",
                "value": {
                  "deploy_id": "app_1",
                  "canceled_build_jobs": 0
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "BuildsLoaded": {
        "description": "Builds loaded. Context: components.responses.BuildsLoaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BuildsResponse"
            },
            "examples": {
              "example": {
                "summary": "Builds loaded.",
                "value": {
                  "builds": [
                    {
                      "id": "job_1",
                      "app_id": "app_1",
                      "status": "queued",
                      "message": "Build queued."
                    }
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "BuildDetailsLoaded": {
        "description": "Build details loaded. Context: components.responses.BuildDetailsLoaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BuildDetailsResponse"
            },
            "examples": {
              "example": {
                "summary": "Build details loaded.",
                "value": {
                  "build": {
                    "id": "job_1",
                    "app_id": "app_1",
                    "status": "queued",
                    "message": "Build queued."
                  },
                  "app": {
                    "id": "app_1",
                    "account_id": "acct_1",
                    "name": "hello-rust",
                    "kind": "rust_backend",
                    "plan": "free",
                    "runtime_status": "running",
                    "url": "https://hello-rust.tovuk.app"
                  },
                  "deploy_id": "app_1"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "LogsLoaded": {
        "description": "Logs loaded. Context: components.responses.LogsLoaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LogsResponse"
            },
            "examples": {
              "example": {
                "summary": "Logs loaded.",
                "value": {
                  "lines": [
                    {
                      "timestamp": "2026-05-25T12:00:00.000Z",
                      "stream": "stdout",
                      "message": "Build queued."
                    }
                  ],
                  "has_more": true,
                  "next_cursor": "1000"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "DatabaseLoaded": {
        "description": "Database loaded. Context: components.responses.DatabaseLoaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DatabaseResponse"
            },
            "examples": {
              "example": {
                "summary": "Database loaded.",
                "value": {
                  "database": {
                    "id": "app_1",
                    "app_id": "app_1",
                    "plan": "free",
                    "storage_limit_mib": 1,
                    "connection_limit": 1,
                    "external_access": true
                  },
                  "database_url_injected": true
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "EnvLoaded": {
        "description": "Environment variables loaded. Context: components.responses.EnvLoaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EnvListResponse"
            },
            "examples": {
              "example": {
                "summary": "Environment variables loaded.",
                "value": {
                  "env": [
                    {
                      "name": "value",
                      "created_at": "2026-05-25T12:00:00.000Z",
                      "updated_at": "2026-05-25T12:00:00.000Z"
                    }
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "EnvSet": {
        "description": "Environment variable set. Context: components.responses.EnvSet.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EnvSetResponse"
            },
            "examples": {
              "example": {
                "summary": "Environment variable set.",
                "value": {
                  "name": "value",
                  "redeploy_recommended": true
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "EnvDeleted": {
        "description": "Environment variable deleted. Context: components.responses.EnvDeleted.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EnvDeleteResponse"
            },
            "examples": {
              "example": {
                "summary": "Environment variable deleted.",
                "value": {
                  "name": "value",
                  "deleted": true,
                  "redeploy_recommended": true
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        }
      },
      "DomainsLoaded": {
        "description": "Domains loaded. Context: components.responses.DomainsLoaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AppDomainsResponse"
            },
            "examples": {
              "example": {
                "summary": "Domains loaded.",
                "value": {
                  "domains": [
                    {
                      "id": "dom_01HW0000000000000000000000",
                      "app_id": "app_1",
                      "domain": "api.example.com",
                      "status": "pending",
                      "verified": false,
                      "verified_at": null,
                      "created_at": "2026-05-25T12:00:00.000Z",
                      "dns_record_type": "CNAME",
                      "dns_record_name": "api.example.com",
                      "dns_record_value": "cname.tovuk.app",
                      "cloudflare_dns_url": "https://dash.cloudflare.com/?to=/:account/:zone/dns/records",
                      "agent_instruction": "Create a CNAME for api.example.com pointing to cname.tovuk.app. Do not create an A record to Tovuk origin IP."
                    }
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
[...]
