{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Tovuk API",
    "summary": "API for Tovuk public-data scraper requests.",
    "version": "0.1.0",
    "description": "Use the Tovuk API to list Scrapers, create paid public-data scraper Requests, fetch stored Results, authenticate, manage account billing, and open support workflows.",
    "termsOfService": "https://tovuk.com/legal/terms",
    "contact": {
      "name": "Tovuk",
      "url": "https://tovuk.com",
      "email": "support@tovuk.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://tovuk.com/legal"
    }
  },
  "externalDocs": {
    "description": "Tovuk documentation.",
    "url": "https://docs.tovuk.com"
  },
  "servers": [
    {
      "url": "https://api.tovuk.com",
      "description": "Production API."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Account profile, usage, billing, and support endpoints."
    },
    {
      "name": "Auth",
      "description": "CLI authentication endpoints."
    },
    {
      "name": "Health",
      "description": "API availability endpoints."
    },
    {
      "name": "Scrapers",
      "description": "Public-data Scraper catalog, paid Requests, stored Results, and Records."
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Check public API health",
        "description": "Returns a compact API health response.",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "$ref": "#/components/responses/HealthOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Check infrastructure health",
        "description": "Returns the health response used by operational probes.",
        "operationId": "getHealthz",
        "responses": {
          "200": {
            "$ref": "#/components/responses/HealthOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/status": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Read structured API status",
        "description": "Returns structured dependency status and an agent instruction.",
        "operationId": "getApiStatus",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatusLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/StatusUnavailable"
          }
        }
      }
    },
    "/v1/login/device": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Start device login",
        "description": "Starts a CLI device login flow.",
        "operationId": "startDeviceLogin",
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginStarted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/login/device/{device_code}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Poll device login",
        "description": "Polls a CLI device login until complete, pending, or expired.",
        "operationId": "pollDeviceLogin",
        "parameters": [
          {
            "name": "device_code",
            "in": "path",
            "description": "Opaque device code returned by login start.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^zdev_[a-f0-9]{64}$",
              "example": "zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginPolled"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get current account",
        "description": "Returns the authenticated account profile.",
        "operationId": "getCurrentAccount",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountProfileLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/account/overview": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account overview",
        "description": "Returns the authenticated account profile, usage, pricing, billing estimate, and API keys.",
        "operationId": "getAccountOverview",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountOverviewLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/account/activity": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account activity",
        "description": "Returns account usage, billing estimate, pricing, and recommended next actions for the authenticated account.",
        "operationId": "getAccountActivity",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountActivityLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/scrapers": {
      "get": {
        "tags": [
          "Scrapers"
        ],
        "summary": "List scrapers",
        "description": "Lists available public-data Scrapers and their price events.",
        "operationId": "listScrapers",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScrapersLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/pricing": {
      "get": {
        "tags": [
          "Scrapers"
        ],
        "summary": "Read pricing",
        "description": "Returns paid scraper plans, per-result scraper prices, top-up balance rules, and next actions.",
        "operationId": "getPricing",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PricingLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/scrapers/health": {
      "get": {
        "tags": [
          "Scrapers"
        ],
        "summary": "Check scraper runtime health",
        "description": "Returns runtime readiness for managed public-data Scrapers.",
        "operationId": "getScraperRuntimeHealth",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScraperRuntimeHealthLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/scrapers/{scraper}": {
      "get": {
        "tags": [
          "Scrapers"
        ],
        "summary": "Get scraper details",
        "description": "Returns metadata, pricing, examples, and public input guidance for one Scraper.",
        "operationId": "getScraperDetails",
        "parameters": [
          {
            "name": "scraper",
            "in": "path",
            "description": "Stable Scraper id.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[a-z0-9-]{1,64}$",
              "example": "tiktok"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScraperDetailsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/requests": {
      "get": {
        "tags": [
          "Scrapers"
        ],
        "summary": "List scraper requests",
        "description": "Lists recent paid scraper Requests for the authenticated account.",
        "operationId": "listScrapeRequests",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of scraper Requests to return. Context $.paths./v1/requests.get.parameters.0.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50,
              "format": "int64",
              "example": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response. Context $.paths./v1/requests.get.parameters.1.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512,
              "pattern": "^[\\s\\S]{1,512}$",
              "example": "example"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScrapeRequestsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Scrapers"
        ],
        "summary": "Create scraper request",
        "description": "Creates paid public-data scraper work. Inputs must not include cookies, passwords, private session data, private account content, private repository credentials, or proxy URLs.",
        "operationId": "createScrapeRequest",
        "requestBody": {
          "description": "Create a paid scraper Request.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeRequestCreateRequest"
              },
              "examples": {
                "example": {
                  "summary": "Create a paid scraper Request.",
                  "value": {
                    "scraper": "tiktok",
                    "input": {
                      "operation": "search",
                      "query": "rust programming",
                      "limit": 100
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScrapeRequestCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/requests/{request_id}": {
      "get": {
        "tags": [
          "Scrapers"
        ],
        "summary": "Get scraper request",
        "description": "Returns current status for a scraper Request.",
        "operationId": "getScrapeRequest",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "description": "Scraper Request id.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^request_[A-Za-z0-9_:-]{1,80}$",
              "example": "request_123"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScrapeRequestLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/requests/{request_id}/cancel": {
      "post": {
        "tags": [
          "Scrapers"
        ],
        "summary": "Cancel scraper request",
        "description": "Cancels a queued or running scraper Request.",
        "operationId": "cancelScrapeRequest",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "description": "Scraper Request id. Context $.paths./v1/requests/{request_id}/cancel.post.parameters.0.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^request_[A-Za-z0-9_:-]{1,80}$",
              "example": "request_123"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScrapeCancelApplied"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/requests/{request_id}/results": {
      "get": {
        "tags": [
          "Scrapers"
        ],
        "summary": "List scraper result records",
        "description": "Returns stored JSON Records for a completed scraper Request.",
        "operationId": "listScrapeResults",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "description": "Scraper Request id. Context $.paths./v1/requests/{request_id}/results.get.parameters.0.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^request_[A-Za-z0-9_:-]{1,80}$",
              "example": "request_123"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return. Context $.paths./v1/requests/{request_id}/results.get.parameters.1.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "format": "int64",
              "example": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response. Context $.paths./v1/requests/{request_id}/results.get.parameters.2.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512,
              "pattern": "^[\\s\\S]{1,512}$",
              "example": "example"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScrapeResultsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get usage",
        "description": "Returns account profile, usage totals, current scraper pricing, and current-month cost estimates.",
        "operationId": "getAccountUsage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountUsageLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create billing checkout",
        "description": "Creates a hosted checkout session for plan activation or balance top-up.",
        "operationId": "createBillingCheckout",
        "requestBody": {
          "description": "Billing checkout target and reason.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingCheckoutRequest"
              },
              "examples": {
                "example": {
                  "summary": "Plus subscription checkout.",
                  "value": {
                    "target_plan": "plus",
                    "reason": "High-count scraper request"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BillingCheckoutCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/billing/portal": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create billing portal",
        "description": "Creates a hosted billing portal session.",
        "operationId": "createBillingPortal",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BillingPortalCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/support/tickets": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List support tickets",
        "description": "Lists recent account-scoped service tickets for the authenticated account or account API key.",
        "operationId": "listSupportTickets",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return. Context $.paths./v1/support/tickets.get.parameters.0.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "format": "int64",
              "example": 25
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SupportTicketsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create support ticket",
        "description": "Creates a rate-limited account-scoped service ticket with scraper request evidence. Account API keys are accepted so users and AI/API agents can open service tickets.",
        "operationId": "createSupportTicket",
        "requestBody": {
          "description": "Create account-scoped service ticket body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupportTicketCreateRequest"
              },
              "examples": {
                "example": {
                  "summary": "Create account-scoped service ticket body.",
                  "value": {
                    "subject": "Request failed",
                    "details": "Request failed after retry.",
                    "request_id": "request_123",
                    "scraper_id": "tiktok",
                    "failing_command": "tovuk request show request_123 --json",
                    "first_log_line": "upstream timeout",
                    "severity": "normal"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SupportTicketCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/support/tickets/{ticket_id}/resolve": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Resolve support ticket",
        "description": "Marks an account-scoped service ticket resolved for the authenticated account or account API key.",
        "operationId": "resolveSupportTicket",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "description": "Support ticket id.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 27,
              "maxLength": 27,
              "pattern": "^ticket_[a-f0-9]{20}$",
              "example": "ticket_0123456789abcdef0123"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SupportTicketResolved"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/account/api-keys": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List API keys",
        "description": "Lists API keys for the authenticated account without returning secret token material.",
        "operationId": "listAccountApiKeys",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountApiKeysLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create API key",
        "description": "Creates an API key for apps, scripts, agents, and backend jobs. The full token is returned once.",
        "operationId": "createAccountApiKey",
        "requestBody": {
          "description": "API key name.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountApiKeyCreateRequest"
              },
              "examples": {
                "example": {
                  "summary": "Create production key.",
                  "value": {
                    "name": "Production scraper"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountApiKeyCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/account/api-keys/{key_id}": {
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Revoke API key",
        "description": "Revokes an API key for the authenticated account.",
        "operationId": "revokeAccountApiKey",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "description": "API key id from the list response.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_]{3,64}$",
              "example": "api_key_a1b2c3d4e5f6"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountApiKeyRevoked"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Tovuk API token",
        "description": "Tovuk API bearer token."
      }
    },
    "responses": {
      "HealthOk": {
        "description": "Health response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HealthResponse"
            },
            "examples": {
              "example": {
                "summary": "Health response.",
                "value": {
                  "ok": true,
                  "name": "tovuk-api"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the health ok response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the health ok response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the health ok response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "StatusLoaded": {
        "description": "Structured API status.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StatusResponse"
            },
            "examples": {
              "example": {
                "summary": "Structured API status.",
                "value": {
                  "ok": true,
                  "name": "tovuk-api",
                  "api_version": "v1",
                  "checks": [
                    {
                      "name": "control_plane_postgres",
                      "ok": true,
                      "message": "reachable",
                      "latency_ms": 12,
                      "details": {
                        "pool_max_connections": 6,
                        "pool_open_connections": 4,
                        "pool_idle_connections": 2,
                        "pool_busy_connections": 2
                      }
                    },
                    {
                      "name": "redis",
                      "ok": true,
                      "message": "reachable",
                      "latency_ms": 3
                    }
                  ],
                  "agent_instruction": "Continue with GET /v1/capabilities, then run the requested Tovuk command.",
                  "docs_url": "https://docs.tovuk.com/status"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the status response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the status response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the status response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "StatusUnavailable": {
        "description": "Structured API unavailable status.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StatusResponse"
            },
            "examples": {
              "example": {
                "summary": "Structured API unavailable status.",
                "value": {
                  "ok": false,
                  "name": "tovuk-api",
                  "api_version": "v1",
                  "checks": [
                    {
                      "name": "control_plane_postgres",
                      "ok": false,
                      "message": "timed_out",
                      "latency_ms": 3000,
                      "details": {
                        "pool_max_connections": 6,
                        "pool_open_connections": 6,
                        "pool_idle_connections": 0,
                        "pool_busy_connections": 6
                      }
                    },
                    {
                      "name": "redis",
                      "ok": false,
                      "message": "timed_out",
                      "latency_ms": 3000
                    }
                  ],
                  "agent_instruction": "Retry the command. If it keeps failing, check Tovuk status before changing your request.",
                  "docs_url": "https://docs.tovuk.com/status"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the status unavailable response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the status unavailable response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the status unavailable response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "LoginStarted": {
        "description": "Device login started.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LoginStartResponse"
            },
            "examples": {
              "example": {
                "summary": "Device login started.",
                "value": {
                  "loginUrl": "https://tovuk.com/login?device_code=zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef",
                  "verificationUri": "https://tovuk.com/login",
                  "deviceCode": "zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef",
                  "userCode": "TOVUK-123",
                  "intervalSeconds": 5,
                  "expiresInSeconds": 600
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the login started response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the login started response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the login started response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "LoginPolled": {
        "description": "Device login poll result.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LoginPollResponse"
            },
            "examples": {
              "example": {
                "summary": "Device login poll result.",
                "value": {
                  "status": "pending",
                  "intervalSeconds": 5,
                  "accountId": null,
                  "email": null,
                  "provider": null,
                  "token": null,
                  "expiresAt": null
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the login polled response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the login polled response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the login polled response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "AccountProfileLoaded": {
        "description": "Account profile loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AccountProfileResponse"
            },
            "examples": {
              "example": {
                "summary": "Account profile loaded.",
                "value": {
                  "accountId": "acct_123",
                  "email": "user@example.com",
                  "provider": "google",
                  "plan": "pro",
                  "displayName": null
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the account profile response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the account profile response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the account profile response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "AccountActivityLoaded": {
        "description": "Account activity loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AccountActivityResponse"
            },
            "examples": {
              "example": {
                "summary": "Account activity loaded.",
                "value": {
                  "profile": {
                    "accountId": "acct_123",
                    "email": "user@example.com",
                    "provider": "google",
                    "plan": "pro",
                    "displayName": null
                  },
                  "usage": {
                    "meters": {
                      "hour": {},
                      "day": {},
                      "week": {},
                      "twoWeeks": {},
                      "month": {
                        "scraper.tiktok.result_records": 1000,
                        "scraper.tiktok.cost_usd_micros": 1700000
                      },
                      "quarter": {}
                    }
                  },
                  "pricing": {
                    "subscriptionUsdCentsPerMonth": 2000,
                    "planBalanceUsdCentsPerMonth": 2000,
                    "bonusBalanceUsdCentsPerMonth": 0,
                    "includedBalanceUsdCentsPerMonth": 2000,
                    "paidOveragesEnabled": false
                  },
                  "billingEstimate": {
                    "currency": "USD",
                    "plan": "plus",
                    "paidOveragesEnabled": false,
                    "subscriptionUsdMicrosPerMonth": 20000000,
                    "planBalanceUsdCentsPerMonth": 2000,
                    "bonusBalanceUsdCentsPerMonth": 0,
                    "includedBalanceUsdCentsPerMonth": 2000,
                    "topUpBalanceUsdMicros": 0,
                    "topUpMinimumUsdCents": 2000,
                    "topUpMaximumUsdCents": 100000,
                    "topUpExpiresAfterInactiveDays": 365,
                    "autoTopUpEnabled": false,
                    "autoTopUpThresholdUsdCents": 500,
                    "autoTopUpAmountUsdCents": 2000,
                    "autoTopUpMonthlyLimitUsdCents": 100000,
                    "currentMonthBonusBalanceUsedUsdMicros": 0,
                    "currentMonthPlanBalanceUsedUsdMicros": 1700000,
                    "currentMonthTopUpBalanceUsedUsdMicros": 0,
                    "currentMonthOverageUsdMicros": 0,
                    "estimatedMonthlyTotalUsdMicros": 20000000,
                    "lineItems": [
                      {
                        "product": "tiktok",
                        "meter": "scraper_result_records",
                        "currentMonthUsed": 1000,
                        "includedPerMonth": null,
                        "billableAmount": 1000,
                        "usageUnit": "result",
                        "billingUnit": "result",
                        "billingUnitSize": 1,
                        "priceUsdMicrosPerBillingUnit": null,
                        "estimatedUsdMicros": 1700000,
                        "estimateBasis": "stored_scrape_requests",
                        "rounding": "actual_scraper_cost"
                      }
                    ],
                    "nextActions": [
                      "plus scraper usage is within monthly balance. Bonus balance is spent before paid plan balance.",
                      "Fetch saved results or create another public-data scraper request when you need fresh data."
                    ]
                  },
                  "nextActions": [
                    "Run `tovuk request results <request-id> --json` to fetch stored results.",
                    "Run `tovuk scraper list --json` before creating another paid scraper request."
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the account activity response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the account activity response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the account activity response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "AccountUsageLoaded": {
        "description": "Account usage loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AccountUsageResponse"
            },
            "examples": {
              "example": {
                "summary": "Account usage loaded.",
                "value": {
                  "profile": {
                    "accountId": "acct_123",
                    "email": "user@example.com",
                    "provider": "google",
                    "plan": "pro",
                    "displayName": null
                  },
                  "usage": {
                    "meters": {
                      "hour": {},
                      "day": {},
                      "week": {},
                      "twoWeeks": {},
                      "month": {
                        "scraper.tiktok.result_records": 1000,
                        "scraper.tiktok.cost_usd_micros": 1700000
                      },
                      "quarter": {}
                    }
                  },
                  "pricing": {
                    "subscriptionUsdCentsPerMonth": 2000,
                    "planBalanceUsdCentsPerMonth": 2000,
                    "bonusBalanceUsdCentsPerMonth": 0,
                    "includedBalanceUsdCentsPerMonth": 2000,
                    "paidOveragesEnabled": false
                  },
                  "billingEstimate": {
                    "currency": "USD",
                    "plan": "plus",
                    "paidOveragesEnabled": false,
                    "subscriptionUsdMicrosPerMonth": 20000000,
                    "planBalanceUsdCentsPerMonth": 2000,
                    "bonusBalanceUsdCentsPerMonth": 0,
                    "includedBalanceUsdCentsPerMonth": 2000,
                    "topUpBalanceUsdMicros": 0,
                    "topUpMinimumUsdCents": 2000,
                    "topUpMaximumUsdCents": 100000,
                    "topUpExpiresAfterInactiveDays": 365,
                    "autoTopUpEnabled": false,
                    "autoTopUpThresholdUsdCents": 500,
                    "autoTopUpAmountUsdCents": 2000,
                    "autoTopUpMonthlyLimitUsdCents": 100000,
                    "currentMonthBonusBalanceUsedUsdMicros": 0,
                    "currentMonthPlanBalanceUsedUsdMicros": 1700000,
                    "currentMonthTopUpBalanceUsedUsdMicros": 0,
                    "currentMonthOverageUsdMicros": 0,
                    "estimatedMonthlyTotalUsdMicros": 20000000,
                    "lineItems": [
                      {
                        "product": "tiktok",
                        "meter": "scraper_result_records",
                        "currentMonthUsed": 1000,
                        "includedPerMonth": null,
                        "billableAmount": 1000,
                        "usageUnit": "result",
                        "billingUnit": "result",
                        "billingUnitSize": 1,
                        "priceUsdMicrosPerBillingUnit": null,
                        "estimatedUsdMicros": 1700000,
                        "estimateBasis": "stored_scrape_requests",
                        "rounding": "actual_scraper_cost"
                      }
                    ],
                    "nextActions": [
                      "plus scraper usage is within monthly balance. Bonus balance is spent before paid plan balance.",
                      "Fetch saved results or create another public-data scraper request when you need fresh data."
                    ]
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the account usage response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the account usage response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the account usage response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "BillingCheckoutCreated": {
        "description": "Billing checkout created.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BillingCheckoutResponse"
            },
            "examples": {
              "example": {
                "summary": "Billing checkout created.",
                "value": {
                  "checkout": {
                    "url": "https://billing.stripe.com/session/example",
                    "reason": "Open Tovuk plus checkout."
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the billing checkout created response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the billing checkout created response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the billing checkout created response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "BillingPortalCreated": {
        "description": "Billing portal created.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BillingCheckoutResponse"
            },
            "examples": {
              "example": {
                "summary": "Billing portal created.",
                "value": {
                  "checkout": {
                    "url": "https://billing.stripe.com/session/example",
                    "reason": "Manage Tovuk billing."
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the billing portal created response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the billing portal created response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the billing portal created response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "PricingLoaded": {
        "description": "Pricing loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PricingResponse"
            },
            "examples": {
              "example": {
                "summary": "Pricing loaded.",
                "value": {
                  "plans": [
                    {
                      "plan": "plus",
                      "monthlyPriceUsdCents": 2000,
                      "planBalanceUsdCents": 2000,
                      "includedBalanceUsdCents": 2000,
                      "bonusBalanceUsdCents": 0,
                      "paidOveragesEnabled": false
                    },
                    {
                      "plan": "pro",
                      "monthlyPriceUsdCents": 10000,
                      "planBalanceUsdCents": 10000,
                      "includedBalanceUsdCents": 12000,
                      "bonusBalanceUsdCents": 2000,
                      "paidOveragesEnabled": false
                    },
                    {
                      "plan": "max",
                      "monthlyPriceUsdCents": 20000,
                      "planBalanceUsdCents": 20000,
                      "includedBalanceUsdCents": 30000,
                      "bonusBalanceUsdCents": 10000,
                      "paidOveragesEnabled": false
                    }
                  ],
                  "scraperPrices": [
                    {
                      "scraper": "reddit",
                      "priceEvent": "reddit_record",
                      "unit": "record",
                      "usdMicrosPerResult": 700
                    },
                    {
                      "scraper": "github",
                      "priceEvent": "github_record",
                      "unit": "record",
                      "usdMicrosPerResult": 600
                    },
                    {
                      "scraper": "google-maps",
                      "priceEvent": "google_maps_place",
                      "unit": "place",
                      "usdMicrosPerResult": 1200
                    },
                    {
                      "scraper": "amazon",
                      "priceEvent": "amazon_record",
                      "unit": "record",
                      "usdMicrosPerResult": 1400
                    },
                    {
                      "scraper": "alibaba",
                      "priceEvent": "alibaba_record",
                      "unit": "record",
                      "usdMicrosPerResult": 1500
                    },
                    {
                      "scraper": "temu",
                      "priceEvent": "temu_record",
                      "unit": "record",
                      "usdMicrosPerResult": 1600
                    },
                    {
                      "scraper": "etsy",
                      "priceEvent": "etsy_record",
                      "unit": "record",
                      "usdMicrosPerResult": 1200
                    },
                    {
                      "scraper": "tiktok",
                      "priceEvent": "tiktok_record",
                      "unit": "record",
                      "usdMicrosPerResult": 1700
                    },
                    {
                      "scraper": "instagram",
                      "priceEvent": "instagram_record",
                      "unit": "record",
                      "usdMicrosPerResult": 800
                    },
                    {
                      "scraper": "x",
                      "priceEvent": "x_post",
                      "unit": "post",
                      "usdMicrosPerResult": 300
                    }
                  ],
                  "topUp": {
                    "minimumUsdCents": 2000,
                    "maximumUsdCents": 100000,
                    "expiresAfterInactiveDays": 365
                  },
                  "nextActions": [
                    "Use `tovuk scraper list --json` and `tovuk scraper show <scraper> --json` to choose a public-data scraper.",
                    "Use `scraperPrices[].usdMicrosPerResult`, request limits, and `tovuk usage --json` to estimate balance impact before high-count requests."
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the pricing response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the pricing response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the pricing response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "ScrapersLoaded": {
        "description": "Scrapers loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ScrapersResponse"
            },
            "examples": {
              "example": {
                "summary": "Scrapers loaded.",
                "value": {
                  "scrapers": [],
                  "nextActions": [
                    "Use `tovuk scraper list --json` to choose a scraper."
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the scrapers response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the scrapers response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the scrapers response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "ScraperRuntimeHealthLoaded": {
        "description": "Scraper runtime health loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ScraperRuntimeHealthResponse"
            },
            "examples": {
              "example": {
                "summary": "Scraper runtime health loaded.",
                "value": {
                  "scrapers": [],
                  "nextActions": [
                    "Use `tovuk scraper health --json` before debugging scraper readiness."
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the scraper runtime health response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the scraper runtime health response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the scraper runtime health response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "ScraperDetailsLoaded": {
        "description": "Scraper details loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ScraperDetailsResponse"
            },
            "examples": {
              "example": {
                "summary": "Scraper details loaded.",
                "value": {
                  "scraper": {
                    "id": "linkedin",
                    "name": "LinkedIn Scraper",
                    "category": "social",
                    "description": "Scrape public LinkedIn data.",
                    "inputSchema": {
                      "type": "object",
                      "examples": {
                        "linkedinPostSearch": {
                          "operation": "post-search",
                          "query": "b2b sales",
                          "author_company_urns": "1035",
                          "limit": 50
                        },
                        "linkedinCompanyEmployees": {
                          "operation": "company-employees",
                          "identifier": "https://www.linkedin.com/company/google/",
                          "max_employees": 50
                        }
                      }
                    },
                    "priceEvents": [
                      {
                        "name": "linkedin_records",
                        "unit": "record",
                        "usdMicros": 900
                      }
                    ]
                  },
                  "runtimeHealth": {
                    "type": "linkedinManagedReaderHealth",
                    "status": "ready"
                  },
                  "nextActions": [
                    "Use `tovuk request create linkedin <input-json> --json` to create scraper work."
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the scraper details response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the scraper details response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the scraper details response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "ScrapeRequestsLoaded": {
        "description": "Scraper requests loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ScrapeRequestsResponse"
            },
            "examples": {
              "example": {
                "summary": "Scraper requests loaded.",
                "value": {
                  "requests": [
                    {
                      "id": "request_123",
                      "scraper": "tiktok",
                      "status": "succeeded",
                      "input": {
                        "operation": "search",
                        "query": "rust programming",
                        "limit": 100
                      },
                      "resultCount": 1,
                      "estimatedCostUsdMicros": 170000,
                      "costUsdMicros": 1700,
                      "resultsUrl": "/v1/requests/request_123/results",
                      "errorMessage": null,
                      "agentInstruction": "Fetch results with `tovuk request results request_123 --json`.",
                      "createdAt": "2026-06-23T12:00:00Z",
                      "updatedAt": "2026-06-23T12:00:30Z"
                    }
                  ],
                  "nextCursor": null,
                  "nextActions": [
                    "Use `nextCursor` with `tovuk request list --cursor <nextCursor> --json` when another page exists."
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the scrape requests response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the scrape requests response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the scrape requests response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "ScrapeRequestCreated": {
        "description": "Scraper request created.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ScrapeRequestResponse"
            },
            "examples": {
              "example": {
                "summary": "Scraper request created.",
                "value": {
                  "request": {
                    "id": "request_123",
                    "scraper": "tiktok",
                    "status": "succeeded",
                    "input": {
                      "operation": "search",
                      "query": "rust programming",
                      "limit": 100
                    },
                    "resultCount": 1,
                    "estimatedCostUsdMicros": 170000,
                    "costUsdMicros": 1700,
                    "resultsUrl": "/v1/requests/request_123/results",
                    "errorMessage": null,
                    "agentInstruction": "Fetch results with `tovuk request results request_123 --json`.",
                    "createdAt": "2026-06-23T12:00:00Z",
                    "updatedAt": "2026-06-23T12:00:30Z"
                  },
                  "nextActions": [
                    "Use `tovuk request results request_123 --json` after the request succeeds."
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the scrape request created response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the scrape request created response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the scrape request created response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "ScrapeRequestLoaded": {
        "description": "Scraper request loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ScrapeRequestResponse"
            },
            "examples": {
              "example": {
                "summary": "Scraper request loaded.",
                "value": {
                  "request": {
                    "id": "request_123",
                    "scraper": "tiktok",
                    "status": "succeeded",
                    "input": {
                      "operation": "search",
                      "query": "rust programming",
                      "limit": 100
                    },
                    "resultCount": 1,
                    "estimatedCostUsdMicros": 170000,
                    "costUsdMicros": 1700,
                    "resultsUrl": "/v1/requests/request_123/results",
                    "errorMessage": null,
                    "agentInstruction": "Fetch results with `tovuk request results request_123 --json`.",
                    "createdAt": "2026-06-23T12:00:00Z",
                    "updatedAt": "2026-06-23T12:00:30Z"
                  },
                  "nextActions": [
                    "Use `tovuk request results request_123 --json` after the request succeeds."
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the scrape request response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the scrape request response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the scrape request response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "ScrapeCancelApplied": {
        "description": "Scraper request canceled.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ScrapeCancelResponse"
            },
            "examples": {
              "example": {
                "summary": "Scraper request canceled.",
                "value": {
                  "requestId": "request_123",
                  "canceled": true,
                  "status": "canceled",
                  "agentInstruction": "Request canceled. Create a new scraper request when ready."
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the scrape cancel applied response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the scrape cancel applied response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the scrape cancel applied response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "ScrapeResultsLoaded": {
        "description": "Scraper results loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ScrapeResultsResponse"
            },
            "examples": {
              "example": {
                "summary": "Scraper results loaded.",
                "value": {
                  "request": {
                    "id": "request_123",
                    "scraper": "tiktok",
                    "status": "succeeded",
                    "input": {
                      "operation": "search",
                      "query": "rust programming",
                      "limit": 100
                    },
                    "resultCount": 1,
                    "estimatedCostUsdMicros": 170000,
                    "costUsdMicros": 1700,
                    "resultsUrl": "/v1/requests/request_123/results",
                    "errorMessage": null,
                    "agentInstruction": "Fetch results with `tovuk request results request_123 --json`.",
                    "createdAt": "2026-06-23T12:00:00Z",
                    "updatedAt": "2026-06-23T12:00:30Z"
                  },
                  "records": [
                    {
                      "index": 0,
                      "data": {
                        "id": "video_123",
                        "desc": "rust programming"
                      },
                      "sizeBytes": 64,
                      "createdAt": "2026-06-23T12:00:30Z"
                    }
                  ],
                  "nextCursor": null,
                  "nextActions": [
                    "Use `nextCursor` with `tovuk request results request_123 --cursor <nextCursor> --json` when another page exists."
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the scrape results response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the scrape results response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the scrape results response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "SupportTicketsLoaded": {
        "description": "Account-scoped service tickets loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SupportTicketsResponse"
            },
            "examples": {
              "example": {
                "summary": "Account-scoped service tickets loaded.",
                "value": {
                  "tickets": [],
                  "rate_limit": {
                    "limit_per_hour": 10,
                    "remaining_hour": 9,
                    "limit_per_day": 10,
                    "remaining_day": 9
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the support tickets response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the support tickets response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the support tickets response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "SupportTicketCreated": {
        "description": "Account-scoped service ticket created.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SupportTicketCreateResponse"
            },
            "examples": {
              "example": {
                "summary": "Account-scoped service ticket created.",
                "value": {
                  "ticket": {
                    "id": "ticket_123",
                    "subject": "Request failed",
                    "details": "Request failed after retry.",
                    "request_id": "request_123",
                    "scraper_id": "tiktok",
                    "failing_command": "tovuk request show request_123 --json",
                    "first_log_line": "upstream timeout",
                    "status": "open",
                    "severity": "normal",
                    "agent_instruction": "Continue with tovuk request diagnostics.",
                    "created_at": "2026-06-23T12:00:00Z",
                    "updated_at": "2026-06-23T12:00:00Z"
                  },
                  "rate_limit": {
                    "limit_per_hour": 10,
                    "remaining_hour": 8,
                    "limit_per_day": 10,
                    "remaining_day": 8
                  },
                  "next_command": "tovuk support list --json"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the support ticket created response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the support ticket created response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the support ticket created response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "SupportTicketResolved": {
        "description": "Account-scoped service ticket resolved.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SupportTicket"
            },
            "examples": {
              "example": {
                "summary": "Account-scoped service ticket resolved.",
                "value": {
                  "id": "ticket_123",
                  "created_by": "account_api_key",
                  "subject": "Request failed",
                  "details": "Request failed after retry.",
                  "request_id": "request_123",
                  "scraper_id": "tiktok",
                  "failing_command": "tovuk request show request_123 --json",
                  "first_log_line": "upstream timeout",
                  "status": "resolved",
                  "severity": "normal",
                  "agent_instruction": "Ticket resolved.",
                  "created_at": "2026-06-23T12:00:00Z",
                  "updated_at": "2026-06-23T12:10:00Z"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the support ticket resolved response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the support ticket resolved response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the support ticket resolved response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "example": {
                "summary": "Bad request.",
                "value": {
                  "code": "bad_request",
                  "message": "Invalid request.",
                  "agent_instruction": "Fix the request and retry.",
                  "docs_url": "https://docs.tovuk.com"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the bad request response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the bad request response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the bad request response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "example": {
                "summary": "Unauthorized.",
                "value": {
                  "code": "unauthorized",
                  "message": "Authentication required.",
                  "agent_instruction": "Run tovuk login --json.",
                  "docs_url": "https://docs.tovuk.com/quickstart"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the unauthorized response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the unauthorized response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the unauthorized response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Payment required.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "example": {
                "summary": "Payment required.",
                "value": {
                  "code": "payment_required",
                  "message": "Billing is required.",
                  "agent_instruction": "Run tovuk billing checkout plus --json, tovuk billing checkout pro --json, or tovuk billing checkout max --json.",
                  "docs_url": "https://docs.tovuk.com/pricing"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the payment required response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the payment required response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the payment required response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too many requests.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "example": {
                "summary": "Too many requests.",
                "value": {
                  "code": "rate_limited",
                  "message": "Rate limit exceeded.",
                  "agent_instruction": "Retry after the rate limit resets.",
                  "docs_url": "https://docs.tovuk.com/status"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the too many requests response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the too many requests response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the too many requests response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          },
          "Retry-After": {
            "description": "Seconds to wait before retrying the request.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 86400,
              "example": 60
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "example": {
                "summary": "Internal server error.",
                "value": {
                  "code": "internal_error",
                  "message": "Unexpected error.",
                  "agent_instruction": "Retry, then check status.",
                  "docs_url": "https://docs.tovuk.com/status"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the internal server error response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the internal server error response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the internal server error response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "AccountApiKeysLoaded": {
        "description": "API keys loaded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AccountApiKeysResponse"
            },
            "examples": {
              "example": {
                "summary": "API keys loaded.",
                "value": {
                  "apiKeys": [
                    {
                      "id": "api_key_a1b2c3d4e5f6",
                      "name": "Production scraper",
                      "tokenPrefix": "tovuk_key_8Qm2",
                      "createdAt": "2026-06-23T12:00:00Z",
                      "lastUsedAt": null,
                      "revokedAt": null,
                      "currentDayRequestCount": 42,
                      "currentMonthRequestCount": 5160
                    }
                  ],
                  "nextActions": [
                    "Create one API key for each app or script."
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the account api keys response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the account api keys response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the account api keys response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
        }
      },
      "AccountApiKeyCreated": {
        "description": "API key created.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AccountApiKeyCreateResponse"
            },
            "examples": {
              "example": {
                "summary": "API key created.",
                "value": {
                  "apiKey": {
                    "id": "api_key_a1b2c3d4e5f6",
                    "name": "Production scraper",
                    "tokenPrefix": "tovuk_key_8Qm2",
                    "createdAt": "2026-06-23T12:00:00Z",
                    "lastUsedAt": null,
                    "revokedAt": null,
                    "currentDayRequestCount": 42,
                    "currentMonthRequestCount": 5160
                  },
                  "token": "tovuk_key_example_token_shown_once",
                  "nextActions": [
                    "Save this key now. Tovuk will not show it again."
                  ]
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "description": "Maximum requests allowed for the account api key created response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 1000
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining for the account api key created response window.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 100000,
              "example": 999
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the account api key created response rate-limit window resets.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4102444800,
              "example": 1782216000
            }
          }
[...]
