{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Tovuk API",
    "summary": "Control-plane API for Tovuk deploys.",
    "version": "0.1.0",
    "description": "Use the Tovuk API to authenticate, create Rust worker deploys, manage account onboarding, and inspect deploy health. Context: info.",
    "termsOfService": "https://tovuk.com/legal/terms",
    "contact": {
      "name": "Tovuk",
      "url": "https://tovuk.com",
      "email": "support@tovuk.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://tovuk.com/legal"
    }
  },
  "externalDocs": {
    "description": "Tovuk documentation Context: externalDocs.",
    "url": "https://docs.tovuk.com"
  },
  "servers": [
    {
      "url": "https://api.tovuk.com",
      "description": "Production API Context: servers.0."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Private account onboarding and dashboard endpoints. Context: tags.0."
    },
    {
      "name": "Auth",
      "description": "Authentication endpoints. Context: tags.1."
    },
    {
      "name": "Deploy",
      "description": "Deploy lifecycle endpoints. Context: tags.2."
    },
    {
      "name": "Health",
      "description": "API availability endpoints. Context: tags.3."
    },
    {
      "name": "Storage",
      "description": "Service object storage and media endpoints. Context: tags.Storage."
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Check public API health",
        "description": "Returns the Tovuk control-plane health state from the public health alias. Context: paths./health.get.",
        "operationId": "getHealthAlias",
        "responses": {
          "200": {
            "$ref": "#/components/responses/HealthOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Check infrastructure API health",
        "description": "Returns the Tovuk control-plane health state for infrastructure probes and deploy scripts. Context: paths./healthz.get.",
        "operationId": "getHealthz",
        "responses": {
          "200": {
            "$ref": "#/components/responses/HealthOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/status": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Check platform status",
        "description": "Returns structured Tovuk API and dependency health for humans, SDKs, and agents. Context: paths./v1/status.get.",
        "operationId": "getPlatformStatus",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlatformStatusLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/PlatformStatusUnavailable"
          }
        }
      }
    },
    "/v1/login/device": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Start device login",
        "description": "Starts a device login flow for the Tovuk CLI. Context: paths./v1/login/device.post.",
        "operationId": "startDeviceLogin",
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginStarted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/login/device/{device_code}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Poll device login",
        "description": "Polls a first-run browser login until it is complete, pending, or expired. Context: paths./v1/login/device/{device_code}.get.",
        "operationId": "pollDeviceLogin",
        "parameters": [
          {
            "name": "device_code",
            "in": "path",
            "description": "Opaque device code returned by start device login. Context: paths./v1/login/device/{device_code}.get.parameters.0.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^zdev_[a-f0-9]{64}$",
              "maxLength": 512,
              "examples": [
                "zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
              ]
            },
            "example": "zdev_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginPolled"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account profile",
        "description": "Returns the authenticated account profile used by web onboarding and SDK flows. Context: paths./v1/account.get.",
        "operationId": "getAccountProfile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountProfileLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update account profile",
        "description": "Sets the private Tovuk handle and display name used for the authenticated dashboard. Context: paths./v1/account.put.",
        "operationId": "updateAccountProfile",
        "requestBody": {
          "description": "Account handle and display name. Context: paths./v1/account.put.requestBody.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountProfileUpdateRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for PUT /v1/account",
                  "value": {
                    "handle": "acme",
                    "displayName": "Acme"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountProfileUpdated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/account/dashboard": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account dashboard",
        "description": "Returns deploys and usage for the authenticated account dashboard. Context: paths./v1/account/dashboard.get.",
        "operationId": "getAccountDashboard",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountDashboardLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deploy": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Deploy service",
        "description": "Deploys a service from a source archive produced by the Tovuk CLI. Context: paths./v1/deploy.post.",
        "operationId": "createDeploy",
        "requestBody": {
          "description": "Deploy source archive and runtime metadata. Context: paths./v1/deploy.post.requestBody.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeployRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/deploy",
                  "value": {
                    "config": {
                      "name": "hello-rust",
                      "kind": "rust_worker",
                      "run": {
                        "command": "./target/release/api",
                        "port": 3000,
                        "health": "/healthz"
                      }
                    },
                    "commit_sha": null,
                    "wants_database": false,
                    "source_archive_base64": "H4sIAAAAAAAA"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeployAccepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/services": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List services",
        "description": "List services for GET /v1/services. Context: paths./v1/services.get.",
        "operationId": "listServices",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServicesLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/services/{service_id}": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Get service",
        "description": "Get service for GET /v1/services/{service_id}. Context: paths./v1/services/{service_id}.get.",
        "operationId": "getService",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatusLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}.get.parameters.0.",
            "example": "service_1"
          }
        ]
      },
      "delete": {
        "tags": [
          "Deploy"
        ],
        "summary": "Delete service",
        "description": "Deletes a service when it is not actively running. Context: paths./v1/services/{service_id}.delete.",
        "operationId": "deleteService",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatusLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}.delete.parameters.0. Context: paths./v1/services/{service_id}.delete.parameters.0.",
            "example": "service_1"
          }
        ]
      }
    },
    "/v1/services/{service_id}/overview": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Get service overview",
        "description": "Returns service status, deploys, builds, logs, env names, domains, database metadata, and next actions. Context: paths./v1/services/{service_id}/overview.get.",
        "operationId": "getServiceOverview",
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/overview.get.parameters.0.",
            "example": "service_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                100
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/services/{service_id}/overview.get.parameters.1.",
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 128,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/services/{service_id}/overview.get.parameters.2.",
            "example": "1000"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServiceOverviewLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/services/{service_id}/deploys": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List service deploys",
        "description": "List service deploys for GET /v1/services/{service_id}/deploys. Context: paths./v1/services/{service_id}/deploys.get.",
        "operationId": "listServiceDeploys",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeploysLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/deploys.get.parameters.0. Context: paths./v1/services/{service_id}/deploys.get.parameters.0.",
            "example": "service_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                1
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/services/{service_id}/deploys.get.parameters.1.",
            "example": 1
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 512,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/services/{service_id}/deploys.get.parameters.2.",
            "example": "1000"
          }
        ]
      }
    },
    "/v1/services/{service_id}/builds": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List service builds",
        "description": "List service builds for GET /v1/services/{service_id}/builds. Context: paths./v1/services/{service_id}/builds.get.",
        "operationId": "listServiceBuilds",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BuildsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/builds.get.parameters.0. Context: paths./v1/services/{service_id}/builds.get.parameters.0.",
            "example": "service_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                1
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/services/{service_id}/builds.get.parameters.1. Context: paths./v1/services/{service_id}/builds.get.parameters.1.",
            "example": 1
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 512,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/services/{service_id}/builds.get.parameters.2. Context: paths./v1/services/{service_id}/builds.get.parameters.2.",
            "example": "1000"
          }
        ]
      }
    },
    "/v1/services/{service_id}/logs": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Read service logs",
        "description": "Returns the latest service logs in chronological order. Context: paths./v1/services/{service_id}/logs.get.",
        "operationId": "readServiceLogs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/LogsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/logs.get.parameters.0. Context: paths./v1/services/{service_id}/logs.get.parameters.0.",
            "example": "service_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                1
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/services/{service_id}/logs.get.parameters.1. Context: paths./v1/services/{service_id}/logs.get.parameters.1.",
            "example": 1
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 512,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/services/{service_id}/logs.get.parameters.2. Context: paths./v1/services/{service_id}/logs.get.parameters.2.",
            "example": "1000"
          }
        ]
      }
    },
    "/v1/services/{service_id}/database": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Get SQLite",
        "description": "Get SQLite for GET /v1/services/{service_id}/database. Context: paths./v1/services/{service_id}/database.get.",
        "operationId": "getServiceDatabase",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DatabaseLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/database.get.parameters.0. Context: paths./v1/services/{service_id}/database.get.parameters.0.",
            "example": "service_1"
          }
        ]
      }
    },
    "/v1/services/{service_id}/env": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List environment variables",
        "description": "List environment variables for GET /v1/services/{service_id}/env. Context: paths./v1/services/{service_id}/env.get.",
        "operationId": "listServiceEnv",
        "responses": {
          "200": {
            "$ref": "#/components/responses/EnvLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/env.get.parameters.0. Context: paths./v1/services/{service_id}/env.get.parameters.0.",
            "example": "service_1"
          }
        ]
      },
      "put": {
        "tags": [
          "Deploy"
        ],
        "summary": "Set environment variable",
        "description": "Set environment variable for PUT /v1/services/{service_id}/env. Context: paths./v1/services/{service_id}/env.put.",
        "operationId": "setServiceEnv",
        "responses": {
          "200": {
            "$ref": "#/components/responses/EnvSet"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/env.put.parameters.0. Context: paths./v1/services/{service_id}/env.put.parameters.0.",
            "example": "service_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvSetRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for PUT /v1/services/{service_id}/env",
                  "value": {
                    "name": "value",
                    "value": "value"
                  }
                }
              }
            }
          },
          "description": "Request body for PUT /v1/services/{service_id}/env. Context: paths./v1/services/{service_id}/env.put.requestBody."
        }
      }
    },
    "/v1/services/{service_id}/env/{name}": {
      "delete": {
        "tags": [
          "Deploy"
        ],
        "summary": "Delete environment variable",
        "description": "Delete environment variable for DELETE /v1/services/{service_id}/env/{name}. Context: paths./v1/services/{service_id}/env/{name}.delete.",
        "operationId": "deleteServiceEnv",
        "responses": {
          "200": {
            "$ref": "#/components/responses/EnvDeleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/env/{name}.delete.parameters.0. Context: paths./v1/services/{service_id}/env/{name}.delete.parameters.0.",
            "example": "service_1"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z_][A-Z0-9_]{0,63}$",
              "maxLength": 512,
              "examples": [
                "DATABASE_URL"
              ]
            },
            "description": "Environment variable name. Context: paths./v1/services/{service_id}/env/{name}.delete.parameters.1.",
            "example": "DATABASE_URL"
          }
        ]
      }
    },
    "/v1/services/{service_id}/domains": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List custom domains",
        "description": "List custom domains for GET /v1/services/{service_id}/domains. Context: paths./v1/services/{service_id}/domains.get.",
        "operationId": "listServiceDomains",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DomainsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/domains.get.parameters.0. Context: paths./v1/services/{service_id}/domains.get.parameters.0.",
            "example": "service_1"
          }
        ]
      },
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Add custom domain",
        "description": "Add custom domain for POST /v1/services/{service_id}/domains. Context: paths./v1/services/{service_id}/domains.post.",
        "operationId": "addServiceDomain",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DomainAdded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/domains.post.parameters.0. Context: paths./v1/services/{service_id}/domains.post.parameters.0.",
            "example": "service_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceDomainAddRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/services/{service_id}/domains",
                  "value": {
                    "domain": "api.example.com"
                  }
                }
              }
            }
          },
          "description": "Request body for POST /v1/services/{service_id}/domains. Context: paths./v1/services/{service_id}/domains.post.requestBody."
        }
      }
    },
    "/v1/services/{service_id}/domains/{domain}/verify": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Verify custom domain",
        "description": "Checks whether the custom domain CNAME points at Tovuk and activates routing when ownership is verified. Context: paths./v1/services/{service_id}/domains/{domain}/verify.post.",
        "operationId": "verifyServiceDomain",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DomainVerified"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/domains/{domain}/verify.post.parameters.0.",
            "example": "service_1"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9][a-z0-9.-]*[a-z0-9]$",
              "maxLength": 512,
              "examples": [
                "api.example.com"
              ]
            },
            "description": "Custom domain name. Context: paths./v1/services/{service_id}/domains/{domain}/verify.post.parameters.1.",
            "example": "api.example.com"
          }
        ]
      }
    },
    "/v1/services/{service_id}/domains/{domain}": {
      "delete": {
        "tags": [
          "Deploy"
        ],
        "summary": "Delete custom domain",
        "description": "Delete custom domain for DELETE /v1/services/{service_id}/domains/{domain}. Context: paths./v1/services/{service_id}/domains/{domain}.delete.",
        "operationId": "deleteServiceDomain",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DomainDeleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/domains/{domain}.delete.parameters.0. Context: paths./v1/services/{service_id}/domains/{domain}.delete.parameters.0.",
            "example": "service_1"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9][a-z0-9.-]*[a-z0-9]$",
              "maxLength": 512,
              "examples": [
                "api.example.com"
              ]
            },
            "description": "Custom domain name. Context: paths./v1/services/{service_id}/domains/{domain}.delete.parameters.1.",
            "example": "api.example.com"
          }
        ]
      }
    },
    "/v1/deploys/{deploy_id}": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Get deploy",
        "description": "Get deploy for GET /v1/deploys/{deploy_id}. Context: paths./v1/deploys/{deploy_id}.get.",
        "operationId": "getDeploy",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeployDetailsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "deploy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^deploy_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "deploy_1"
              ]
            },
            "description": "Tovuk deploy id. Context: paths./v1/deploys/{deploy_id}.get.parameters.0.",
            "example": "deploy_1"
          }
        ]
      }
    },
    "/v1/deploys/{deploy_id}/cancel": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Cancel queued deploy",
        "description": "Cancel queued deploy for POST /v1/deploys/{deploy_id}/cancel. Context: paths./v1/deploys/{deploy_id}/cancel.post.",
        "operationId": "cancelDeploy",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeployCanceled"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "deploy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^deploy_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "deploy_1"
              ]
            },
            "description": "Tovuk deploy id. Context: paths./v1/deploys/{deploy_id}/cancel.post.parameters.0. Context: paths./v1/deploys/{deploy_id}/cancel.post.parameters.0.",
            "example": "deploy_1"
          }
        ]
      }
    },
    "/v1/deploys/{deploy_id}/logs": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Read deploy logs",
        "description": "Read deploy logs for GET /v1/deploys/{deploy_id}/logs. Context: paths./v1/deploys/{deploy_id}/logs.get.",
        "operationId": "readDeployLogs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/LogsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "deploy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^deploy_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "deploy_1"
              ]
            },
            "description": "Tovuk deploy id. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.0. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.0.",
            "example": "deploy_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                1
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.1. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.1.",
            "example": 1
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 512,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.2. Context: paths./v1/deploys/{deploy_id}/logs.get.parameters.2.",
            "example": "1000"
          }
        ]
      }
    },
    "/v1/builds/{build_id}": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Get build",
        "description": "Get build for GET /v1/builds/{build_id}. Context: paths./v1/builds/{build_id}.get.",
        "operationId": "getBuild",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BuildDetailsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "build_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^job_[A-Za-z0-9_-]+$",
              "maxLength": 512,
              "examples": [
                "job_1"
              ]
            },
            "description": "Tovuk build id. Context: paths./v1/builds/{build_id}.get.parameters.0.",
            "example": "job_1"
          }
        ]
      }
    },
    "/v1/billing/portal": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create billing portal link",
        "description": "Create billing portal link for POST /v1/billing/portal. Context: paths./v1/billing/portal.post.",
        "operationId": "createBillingPortal",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BillingPortalCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/builds/{build_id}/logs": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Read build logs",
        "description": "Returns logs associated with a build job in chronological order. Context: paths./v1/builds/{build_id}/logs.get.",
        "operationId": "readBuildLogs",
        "parameters": [
          {
            "name": "build_id",
            "in": "path",
            "required": true,
            "description": "Tovuk build job id. Context: paths./v1/builds/{build_id}/logs.get.parameters.0.",
            "schema": {
              "type": "string",
              "pattern": "^job_[A-Za-z0-9_]+$",
              "maxLength": 64,
              "examples": [
                "job_1"
              ]
            },
            "example": "job_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum build log records to return. Context: paths./v1/builds/{build_id}/logs.get.parameters.1.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "examples": [
                100
              ]
            },
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for older build log records. Context: paths./v1/builds/{build_id}/logs.get.parameters.2.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 128,
              "examples": [
                "1000"
              ]
            },
            "example": "1000"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LogsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/capabilities": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Discover API capabilities",
        "description": "Returns the public API capability map for humans and agents. Context: paths./v1/capabilities.get.",
        "operationId": "getCapabilities",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CapabilitiesLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get current account",
        "description": "Returns the authenticated account profile. Context: paths./v1/me.get.",
        "operationId": "getCurrentAccount",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountProfileLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account usage",
        "description": "Returns account usage and included plan limits. Context: paths./v1/usage.get.",
        "operationId": "getAccountUsage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountUsageLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/activity": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account activity",
        "description": "Returns account profile, usage, services, recent deploys, recent builds, and next actions. Context: paths./v1/activity.get.",
        "operationId": "getAccountActivity",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "format": "int64",
              "examples": [
                100
              ]
            },
            "description": "Maximum records to return. Context: paths./v1/activity.get.parameters.0.",
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 128,
              "examples": [
                "1000"
              ]
            },
            "description": "Cursor returned by the previous response. Context: paths./v1/activity.get.parameters.1.",
            "example": "1000"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountActivityLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deploys": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List deploys",
        "description": "Lists recent deploys account-wide or filtered by service id or service name. Context: paths./v1/deploys.get.",
        "operationId": "listDeploys",
        "parameters": [
          {
            "name": "service_id",
            "in": "query",
            "required": false,
            "description": "Optional service id or service name filter. Context: paths./v1/deploys.get.parameters.0.",
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 64,
              "examples": [
                "service_1"
              ]
            },
            "example": "service_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum records to return. Context: paths./v1/deploys.get.parameters.1. Context: paths./v1/deploys.get.parameters.1.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "examples": [
                100
              ]
            },
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor returned by the previous response. Context: paths./v1/deploys.get.parameters.2. Context: paths./v1/deploys.get.parameters.2.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 128,
              "examples": [
                "1000"
              ]
            },
            "example": "1000"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeploysLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/builds": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List builds",
        "description": "Lists recent build jobs account-wide or filtered by service id or service name. Context: paths./v1/builds.get.",
        "operationId": "listBuilds",
        "parameters": [
          {
            "name": "service_id",
            "in": "query",
            "required": false,
            "description": "Optional service id or service name filter. Context: paths./v1/builds.get.parameters.0. Context: paths./v1/builds.get.parameters.0.",
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 64,
              "examples": [
                "service_1"
              ]
            },
            "example": "service_1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum records to return. Context: paths./v1/builds.get.parameters.1. Context: paths./v1/builds.get.parameters.1.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 200,
              "default": 100,
              "examples": [
                100
              ]
            },
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor returned by the previous response. Context: paths./v1/builds.get.parameters.2. Context: paths./v1/builds.get.parameters.2.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_:-]{1,128}$",
              "maxLength": 128,
              "examples": [
                "1000"
              ]
            },
            "example": "1000"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BuildsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create subscription checkout link",
        "description": "Create a Stripe-hosted subscription Checkout URL for Tovuk Pro. Context: paths./v1/billing/checkout.post.",
        "operationId": "createBillingCheckout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingCheckoutRequest"
              },
              "examples": {
                "example": {
                  "summary": "Create Pro checkout",
                  "value": {
                    "target_plan": "pro",
                    "reason": "Project limit reached"
                  }
                }
              }
            }
          },
          "description": "JSON body describing the target plan and agent-readable checkout reason. Context: paths./v1/billing/checkout.post.requestBody."
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BillingCheckoutCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/support/tickets": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List support tickets",
        "description": "List recent support tickets for the authenticated account. Context: paths./v1/support/tickets.get.",
        "operationId": "listSupportTickets",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "format": "int32"
            },
            "description": "Maximum number of tickets to return. Context: paths./v1/support/tickets.get.parameters.limit."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SupportTicketsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create support ticket",
        "description": "Create a rate-limited support ticket with agent-readable details. Context: paths./v1/support/tickets.post.",
        "operationId": "createSupportTicket",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupportTicketCreateRequest"
              },
              "examples": {
                "example": {
                  "summary": "Create support ticket",
                  "value": {
                    "subject": "Deploy failed",
                    "details": "Agent retried deploy after doctor.",
                    "service_id": "service_1",
                    "failing_command": "tovuk deploy --wait --json",
                    "build_id": "job_1",
                    "deploy_id": "deploy_1",
                    "first_log_line": "cargo check failed in src/main.rs",
                    "severity": "normal"
                  }
                }
              }
            }
          },
          "description": "JSON body describing the support issue, optional service, structured failure context, and optional severity. Context: paths./v1/support/tickets.post.requestBody."
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SupportTicketCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/support/tickets/{ticket_id}/resolve": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Resolve support ticket",
        "description": "Mark an authenticated account support ticket resolved after the agent fixes the issue. Context: paths./v1/support/tickets/{ticket_id}/resolve.post.",
        "operationId": "resolveSupportTicket",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ticket_[a-f0-9]{20}$",
              "maxLength": 27
            },
            "description": "Support ticket id returned by support list or create. Context: paths./v1/support/tickets/{ticket_id}/resolve.post.parameters.ticket_id.",
            "examples": {
              "example": {
                "summary": "Ticket id",
                "value": "ticket_0123456789abcdef0123"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SupportTicketResolved"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/services/{service_id}/storage": {
      "get": {
        "tags": [
          "Storage"
        ],
        "summary": "List service storage objects",
        "description": "List files and media stored for a service. Context: paths./v1/services/{service_id}/storage.get.",
        "operationId": "listServiceStorageObjects",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StorageObjectsLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/storage.get.parameters.service_id.",
            "example": "service_1"
          }
        ]
      },
      "delete": {
        "tags": [
          "Storage"
        ],
        "summary": "Delete service storage object",
        "description": "Delete one service-local storage object by path. Context: paths./v1/services/{service_id}/storage.delete.",
        "operationId": "deleteServiceStorageObject",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StorageObjectDeleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/storage.delete.parameters.service_id.",
            "example": "service_1"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._/-]{0,511}$",
              "examples": [
                "uploads/logo.png"
              ]
            },
            "description": "Service-local object path. Context: paths./v1/services/{service_id}/storage.delete.parameters.path.",
            "example": "uploads/logo.png"
          }
        ]
      }
    },
    "/v1/services/{service_id}/storage/upload-url": {
      "post": {
        "tags": [
          "Storage"
        ],
        "summary": "Create storage upload URL",
        "description": "Create a short-lived direct upload URL for a service file or media object. Context: paths./v1/services/{service_id}/storage/upload-url.post.",
        "operationId": "createServiceStorageUploadUrl",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StorageUploadUrlCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/storage/upload-url.post.parameters.service_id.",
            "example": "service_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageUploadUrlRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/services/{service_id}/storage/upload-url",
                  "value": {
                    "path": "uploads/logo.png",
                    "contentType": "image/png",
                    "sizeBytes": 24812,
                    "publicRead": true
                  }
                }
              }
            }
          },
          "description": "Request body for POST /v1/services/{service_id}/storage/upload-url. Context: paths.POST /v1/services/{service_id}/storage/upload-url.requestBody."
        }
      }
    },
    "/v1/services/{service_id}/storage/complete": {
      "post": {
        "tags": [
          "Storage"
        ],
        "summary": "Complete storage upload",
        "description": "Validate and mark a direct service object upload complete. Context: paths./v1/services/{service_id}/storage/complete.post.",
        "operationId": "completeServiceStorageUpload",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StorageObjectCompleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/storage/complete.post.parameters.service_id.",
            "example": "service_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageCompleteRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/services/{service_id}/storage/complete",
                  "value": {
                    "path": "uploads/logo.png"
                  }
                }
              }
            }
          },
          "description": "Request body for POST /v1/services/{service_id}/storage/complete. Context: paths.POST /v1/services/{service_id}/storage/complete.requestBody."
        }
      }
    },
    "/v1/services/{service_id}/storage/download-url": {
      "post": {
        "tags": [
          "Storage"
        ],
        "summary": "Create storage download URL",
        "description": "Create a short-lived direct download URL for an uploaded service object. Context: paths./v1/services/{service_id}/storage/download-url.post.",
        "operationId": "createServiceStorageDownloadUrl",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StorageDownloadUrlCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/storage/download-url.post.parameters.service_id.",
            "example": "service_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageDownloadUrlRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/services/{service_id}/storage/download-url",
                  "value": {
                    "path": "uploads/logo.png"
                  }
                }
              }
            }
          },
          "description": "Request body for POST /v1/services/{service_id}/storage/download-url. Context: paths.POST /v1/services/{service_id}/storage/download-url.requestBody."
        }
      }
    },
    "/v1/services/{service_id}/platform": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List platform resources",
        "description": "List worker platform resources for one service. Context: paths./v1/services/{service_id}/platform.get.",
        "operationId": "getServicePlatformResources",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlatformResourcesLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/platform.get.parameters.0.",
            "example": "service_1"
          }
        ]
      }
    },
    "/v1/services/{service_id}/sqlite/databases": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Create SQLite database",
        "description": "Create a service SQLite database binding. Context: paths./v1/services/{service_id}/sqlite/databases.post.",
        "operationId": "createServiceSqliteDatabase",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlatformResourcesLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/sqlite/databases.post.parameters.0.",
            "example": "service_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SqliteDatabaseCreateRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/services/{service_id}/sqlite/databases",
                  "value": {
                    "name": "DB"
                  }
                }
              }
            }
          },
          "description": "Request body for POST /v1/services/{service_id}/sqlite/databases. Context: paths./v1/services/{service_id}/sqlite/databases.post.requestBody."
        }
      }
    },
    "/v1/services/{service_id}/kv/namespaces": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Create KV namespace",
        "description": "Create a service KV namespace binding. Context: paths./v1/services/{service_id}/kv/namespaces.post.",
        "operationId": "createServiceKvNamespace",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlatformResourcesLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/kv/namespaces.post.parameters.0.",
            "example": "service_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KvNamespaceCreateRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/services/{service_id}/kv/namespaces",
                  "value": {
                    "name": "CACHE"
                  }
                }
              }
            }
          },
          "description": "Request body for POST /v1/services/{service_id}/kv/namespaces. Context: paths./v1/services/{service_id}/kv/namespaces.post.requestBody."
        }
      }
    },
    "/v1/services/{service_id}/queues": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Create queue",
        "description": "Create a service queue for background work with Tovuk queue retry, batch, retention, and dead-letter controls. Context: paths./v1/services/{service_id}/queues.post.",
        "operationId": "createServiceQueue",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlatformResourcesLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/queues.post.parameters.0.",
            "example": "service_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueueCreateRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/services/{service_id}/queues",
                  "value": {
                    "name": "jobs",
                    "maxRetries": 3,
                    "maxBatchSize": 10,
                    "maxBatchTimeoutSeconds": 5,
                    "deadLetterQueue": "failed_jobs"
                  }
                }
              }
            }
          },
          "description": "Request body for POST /v1/services/{service_id}/queues. Context: paths./v1/services/{service_id}/queues.post.requestBody."
        }
      }
    },
    "/v1/services/{service_id}/cron": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Create cron trigger",
        "description": "Create a service cron trigger. Context: paths./v1/services/{service_id}/cron.post.",
        "operationId": "createServiceCronTrigger",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlatformResourcesLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/cron.post.parameters.0.",
            "example": "service_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CronTriggerCreateRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/services/{service_id}/cron",
                  "value": {
                    "name": "nightly",
                    "cronExpression": "0 0 * * *"
                  }
                }
              }
            }
          },
          "description": "Request body for POST /v1/services/{service_id}/cron. Context: paths./v1/services/{service_id}/cron.post.requestBody."
        }
      }
    },
    "/v1/services/{service_id}/state/namespaces": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Create State namespace",
        "description": "Create a service State namespace. Context: paths./v1/services/{service_id}/state/namespaces.post.",
        "operationId": "createServiceStateNamespace",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlatformResourcesLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/state/namespaces.post.parameters.0.",
            "example": "service_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StateNamespaceCreateRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/services/{service_id}/state/namespaces",
                  "value": {
                    "className": "Room"
                  }
                }
              }
            }
          },
          "description": "Request body for POST /v1/services/{service_id}/state/namespaces. Context: paths./v1/services/{service_id}/state/namespaces.post.requestBody."
        }
      }
    },
    "/v1/services/{service_id}/service-bindings": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Create service binding",
        "description": "Create a private service binding to another service. Context: paths./v1/services/{service_id}/service-bindings.post.",
        "operationId": "createServiceBinding",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PlatformResourcesLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/service-bindings.post.parameters.0.",
            "example": "service_1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceBindingCreateRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for POST /v1/services/{service_id}/service-bindings",
                  "value": {
                    "bindingName": "AUTH_SERVICE",
                    "targetService": "auth-service"
                  }
                }
              }
            }
          },
          "description": "Request body for POST /v1/services/{service_id}/service-bindings. Context: paths./v1/services/{service_id}/service-bindings.post.requestBody."
        }
      }
    },
    "/v1/usage/caps/{metric}": {
      "put": {
        "tags": [
          "Deploy"
        ],
        "summary": "Set usage cap",
        "description": "Set an account usage cap for one meter. Context: paths./v1/usage/caps/{metric}.put.",
        "operationId": "setUsageCap",
        "responses": {
          "200": {
            "$ref": "#/components/responses/UsageCapUpdated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "metric",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(worker_requests|worker_cpu_ms|sqlite_rows_read|sqlite_rows_written|sqlite_storage_bytes|kv_reads|kv_writes|kv_deletes|kv_lists|kv_storage_bytes|queue_operations|state_requests|state_duration_gb_milliseconds|state_sqlite_rows_read|state_sqlite_rows_written|state_sqlite_storage_bytes|object_storage_bytes|object_storage_class_a_operations|object_storage_class_b_operations|worker_transfer_bytes|static_transfer_bytes|build_minutes|log_events)$",
              "maxLength": 64,
              "examples": [
                "worker_requests"
              ]
            },
            "description": "Usage metric. Context: paths./v1/usage/caps/{metric}.put.parameters.0.",
            "example": "worker_requests"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsageCapSetRequest"
              },
              "examples": {
                "example": {
                  "summary": "Request example for PUT /v1/usage/caps/{metric}",
                  "value": {
                    "period": "day",
                    "capValue": 100000,
                    "hardStop": true,
                    "notifyAtPercent": 80
                  }
                }
              }
            }
          },
          "description": "Request body for PUT /v1/usage/caps/{metric}. Context: paths./v1/usage/caps/{metric}.put.requestBody."
        }
      }
    },
    "/v1/services/{service_id}/kv/{namespace}/keys": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "List KV keys",
        "description": "List keys in one service KV namespace. Context: paths./v1/services/{service_id}/kv/{namespace}/keys.get.",
        "operationId": "listServiceKvKeys",
        "responses": {
          "200": {
            "$ref": "#/components/responses/KvKeysLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/kv/{namespace}/keys.get.parameters.0.",
            "example": "service_1"
          },
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(kv_[0-9]+|[A-Z][A-Z0-9_]{0,62})$",
              "maxLength": 128,
              "examples": [
                "CACHE"
              ]
            },
            "description": "KV namespace id or binding name. Context: paths./v1/services/{service_id}/kv/{namespace}/keys.get.parameters.1.",
            "example": "CACHE"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 10,
              "maximum": 1000,
              "examples": [
                1000
              ]
            },
            "description": "Maximum records to return. Defaults to 1000 and accepts 10 to 1000, matching Tovuk KV list pages. Context: paths./v1/services/{service_id}/kv/{namespace}/keys.get.parameters.2.",
            "example": 1000
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512,
              "examples": [
                "user:1"
              ],
              "pattern": "^[\\s\\S]{0,26214400}$"
            },
            "description": "Cursor from the previous response. Context: paths./v1/services/{service_id}/kv/{namespace}/keys.get.parameters.3.",
            "example": "user:1"
          },
          {
            "name": "prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512,
              "examples": [
                "user:"
              ],
              "pattern": "^[\\s\\S]{0,26214400}$"
            },
            "description": "KV key prefix filter. Context: paths./v1/services/{service_id}/kv/{namespace}/keys.get.parameters.4.",
            "example": "user:"
          }
        ]
      }
    },
    "/v1/services/{service_id}/kv/{namespace}/values/{key}": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Read KV value",
        "description": "Read one KV value from a service namespace. Context: paths./v1/services/{service_id}/kv/{namespace}/values/{key}.get.",
        "operationId": "getServiceKvValue",
        "responses": {
          "200": {
            "$ref": "#/components/responses/KvEntryLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(service_[a-z0-9_]{1,60}|[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?)$",
              "maxLength": 512,
              "examples": [
                "service_1"
              ]
            },
            "description": "Tovuk service id or service name. Context: paths./v1/services/{service_id}/kv/{namespace}/values/{key}.get.parameters.0.",
            "example": "service_1"
          },
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(kv_[0-9]+|[A-Z][A-Z0-9_]{0,62})$",
              "maxLength": 128,
              "examples": [
                "CACHE"
              ]
            },
            "description": "KV namespace id or binding name. Context: paths./v1/services/{service_id}/kv/{namespace}/values/{key}.get.parameters.1.",
            "example": "CACHE"
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512,
              "pattern": "^[^/\\x00-\\x1F\\x7F]{1,512}$",
              "examples": [
                "user:1"
              ]
            },
            "description": "KV key to read. Slash characters are allowed when URL-encoded by the CLI or API client.",
            "example": "user:1"
          }
        ]
      },
      "put": {
        "tags": [
          "Deploy"
        ],
        "summary": "Write KV value",
        "description": "Write one KV value to a service namespace. Context: paths./v1/services/{service_id}/kv/{namespace}/values/{key}.put.",
        "operationId": "putServiceKvValue",
        "responses": {
          "200": {
            "$ref": "#/components/responses/KvEntryLoaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
[...]
